In [46]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [47]:
pd.read_excel("H:\wait_data\CEB.xlsx")

       short_       date  incoming  Settlement  PV    UV  profit
0    mqs3b2-F 2020-01-01         1           0  341  309       0
1     mqc22-H 2020-01-01         9           3  594  547     420
2    mqs3b2-F 2020-01-02         9           2  431  373     280
3     mqc22-H 2020-01-02         0           3  801  734     420
4    mqs3b2-F 2020-01-03         7           1  430  376     140
..        ...        ...       ...         ...  ...  ...     ...
543   mqc22-H 2020-09-28         0           0  141  132       0
544  mqs3b2-F 2020-09-29         0           0   83   80       0
545   mqc22-H 2020-09-29         0           0  146  133       0
546  mqs3b2-F 2020-09-30         0           0   93   82       0
547   mqc22-H 2020-09-30         0           0  157  144       0

[548 rows x 7 columns]

In [4]:
pd.read_excel("H:\wait_data\CEB.xlsx",header=None)

            0                    1         2           3    4    5       6
0      short_                 date  incoming  Settlement  PV    UV  profit
1    mqs3b2-F  2020-01-01 00:00:00         1           0  341  309       0
2     mqc22-H  2020-01-01 00:00:00         9           3  594  547     420
3    mqs3b2-F  2020-01-02 00:00:00         9           2  431  373     280
4     mqc22-H  2020-01-02 00:00:00         0           3  801  734     420
..        ...                  ...       ...         ...  ...  ...     ...
544   mqc22-H  2020-09-28 00:00:00         0           0  141  132       0
545  mqs3b2-F  2020-09-29 00:00:00         0           0   83   80       0
546   mqc22-H  2020-09-29 00:00:00         0           0  146  133       0
547  mqs3b2-F  2020-09-30 00:00:00         0           0   93   82       0
548   mqc22-H  2020-09-30 00:00:00         0           0  157  144       0

[549 rows x 7 columns]

In [6]:
names=["short","date","incoming","settle","PV","UV","profit"]
pd.read_excel("H:\wait_data\CEB.xlsx")

       short_       date  incoming  Settlement  PV    UV  profit
0    mqs3b2-F 2020-01-01         1           0  341  309       0
1     mqc22-H 2020-01-01         9           3  594  547     420
2    mqs3b2-F 2020-01-02         9           2  431  373     280
3     mqc22-H 2020-01-02         0           3  801  734     420
4    mqs3b2-F 2020-01-03         7           1  430  376     140
..        ...        ...       ...         ...  ...  ...     ...
543   mqc22-H 2020-09-28         0           0  141  132       0
544  mqs3b2-F 2020-09-29         0           0   83   80       0
545   mqc22-H 2020-09-29         0           0  146  133       0
546  mqs3b2-F 2020-09-30         0           0   93   82       0
547   mqc22-H 2020-09-30         0           0  157  144       0

[548 rows x 7 columns]

In [7]:
names=["short","date","incoming","settle","PV","UV","profit"]
pd.read_excel("H:\wait_data\CEB.xlsx",header=None)

            0                    1         2           3    4    5       6
0      short_                 date  incoming  Settlement  PV    UV  profit
1    mqs3b2-F  2020-01-01 00:00:00         1           0  341  309       0
2     mqc22-H  2020-01-01 00:00:00         9           3  594  547     420
3    mqs3b2-F  2020-01-02 00:00:00         9           2  431  373     280
4     mqc22-H  2020-01-02 00:00:00         0           3  801  734     420
..        ...                  ...       ...         ...  ...  ...     ...
544   mqc22-H  2020-09-28 00:00:00         0           0  141  132       0
545  mqs3b2-F  2020-09-29 00:00:00         0           0   83   80       0
546   mqc22-H  2020-09-29 00:00:00         0           0  146  133       0
547  mqs3b2-F  2020-09-30 00:00:00         0           0   93   82       0
548   mqc22-H  2020-09-30 00:00:00         0           0  157  144       0

[549 rows x 7 columns]

In [8]:
names=["short","date","incoming","settle","PV","UV","profit"]
pd.read_excel("H:\wait_data\CEB.xlsx",header=None,names=names)

        short                 date  incoming      settle   PV   UV  profit
0      short_                 date  incoming  Settlement  PV    UV  profit
1    mqs3b2-F  2020-01-01 00:00:00         1           0  341  309       0
2     mqc22-H  2020-01-01 00:00:00         9           3  594  547     420
3    mqs3b2-F  2020-01-02 00:00:00         9           2  431  373     280
4     mqc22-H  2020-01-02 00:00:00         0           3  801  734     420
..        ...                  ...       ...         ...  ...  ...     ...
544   mqc22-H  2020-09-28 00:00:00         0           0  141  132       0
545  mqs3b2-F  2020-09-29 00:00:00         0           0   83   80       0
546   mqc22-H  2020-09-29 00:00:00         0           0  146  133       0
547  mqs3b2-F  2020-09-30 00:00:00         0           0   93   82       0
548   mqc22-H  2020-09-30 00:00:00         0           0  157  144       0

[549 rows x 7 columns]

In [9]:
re=pd.read_excel("H:\wait_data\CEB.xlsx")

In [10]:
pd.isnull(re)

     short_   date  incoming  Settlement    PV      UV  profit
0     False  False     False       False  False  False   False
1     False  False     False       False  False  False   False
2     False  False     False       False  False  False   False
3     False  False     False       False  False  False   False
4     False  False     False       False  False  False   False
..      ...    ...       ...         ...    ...    ...     ...
543   False  False     False       False  False  False   False
544   False  False     False       False  False  False   False
545   False  False     False       False  False  False   False
546   False  False     False       False  False  False   False
547   False  False     False       False  False  False   False

[548 rows x 7 columns]

In [12]:
names=["short","date","incoming","settle","PV","UV","profit"]
pd.read_excel("H:\wait_data\CEB.xlsx",header=None,names=names,nrows=5)

      short                 date  incoming      settle   PV   UV  profit
0    short_                 date  incoming  Settlement  PV    UV  profit
1  mqs3b2-F  2020-01-01 00:00:00         1           0  341  309       0
2   mqc22-H  2020-01-01 00:00:00         9           3  594  547     420
3  mqs3b2-F  2020-01-02 00:00:00         9           2  431  373     280
4   mqc22-H  2020-01-02 00:00:00         0           3  801  734     420

In [14]:
pd.options.display.max_rows=10

In [16]:
res=pd.read_excel("E:\\test----1\\data1.xlsx")
res

,5eb7cd420c2d9c07cd7a2ac8,0,Unnamed: 2,HuaweiBrowser,10.0.6.304,菏泽市,Unnamed: 6,中国,2020-05-10,mobile,...,9,Android.1,山东省,直接访问.1,中国|山东省|菏泽市|移动,mqurr8,https://4u9.cn/mqurr8,2020-05-10 17:45,true,"Mozilla/5.0 (Linux; Android 9; PCT-AL10) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 HuaweiBrowser/10.0.6.304 Mobile Safari/537.36"
0,5eb7cd44397e3d6f13534b48,0,NaN,SamsungBrowser,11.0,广州市,NaN,中国,2020-05-10,mobile,...,10,Android,广东省,直接访问,中国|广东省|广州市|移动,mqubxg,https://4u9.cn/mqubxg,2020-05-10 17:45,True,Mozilla/5.0 (Linux; Android 10; SAMSUNG SM-G98...
1,5eb7cd4678249007ce900bde,0,NaN,Android Chrome,80.0.3987.99,太原市,NaN,中国,2020-05-10,mobile,...,10,Android,山西省,直接访问,中国|山西省|太原市|电信,mq1r7d,https://4u9.cn/mq1r7d,2020-05-10 17:45,True,Mozilla/5.0 (Linux; Android 10; SM-G9860 Build...
2,5eb7cd633bbb116f1406aa2a,0,NaN,Android Chrome,74.0.3729.136,重庆市,NaN,中国,2020-05-10,mobile,...,9,Android,重庆,https://service.bizport.cn/commerce/app/transC...,中国|重庆|重庆市|电信,mqs3b2,https://4u9.cn/mqs3b2,2020-05-10 17:46,True,Mozilla/5.0 (Linux; Android 9; SM-A8050 Build/...
3,5eb7cd630c2d9c07cd7a2ac9,0,NaN,Android Chrome,74.0.3729.136,重庆市,NaN,中国,2020-05-10,mobile,...,9,Android,重庆,https://service.bizport.cn/commerce/app/transC...,中国|重庆|重庆市|电信,mqs3b2,https://4u9.cn/mqs3b2,2020-05-10 17:46,False,Mozilla/5.0 (Linux; Android 9; SM-A8050 Build/...
4,5eb7cd76397e3d6f13534b49,0,NaN,Android Chrome,65.0.3325.110,福州市,NaN,中国,2020-05-10,mobile,...,8.1.0,Android,福建省,直接访问,中国|福建省|福州市|电信,mqubxg,https://4u9.cn/mqubxg,2020-05-10 17:46,True,Mozilla/5.0 (Linux; Android 8.1.0; 16 X Build/...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,5efe9aba78249007ce940c7c,0,NaN,Android Browser,4.0,贵阳市,NaN,中国,2020-07-03,mobile,...,9,Android,贵州省,直接访问,中国|贵州省|贵阳市|电信,mqfjg7,https://4u9.cn/mqfjg7,2020-07-03 10:40,True,Mozilla/5.0 (Linux; Android 9; ARS-AL00 Build/...
1048571,5efe9aca397e3d6f13574b29,0,NaN,Android Chrome,78.0.3904.108,兰州市,NaN,中国,2020-07-03,mobile,...,10,Android,甘肃省,直接访问,中国|甘肃省|兰州市|移动,mqs3b2,https://4u9.cn/mqs3b2,2020-07-03 10:41,True,Mozilla/5.0 (Linux; Android 10; SPN-AL00 Build...
1048572,5efe9acc0c2d9c07cd7e2b0d,0,NaN,Android Chrome,74.0.3729.136,北京市,NaN,中国,2020-07-03,mobile,...,9,Android,北京,直接访问,中国|北京|北京市|歌华,mqs3b2,https://4u9.cn/mqs3b2,2020-07-03 10:41,True,Mozilla/5.0 (Linux; Android 9; BLA-AL00 Build/...
1048573,5efe9acc3bbb116f140aa9f2,0,NaN,Android Chrome,74.0.3729.136,南京市,NaN,中国,2020-07-03,mobile,...,9,Android,江苏省,直接访问,中国|江苏省|南京市|移动,mqw5d,https://4u9.cn/mqw5d,2020-07-03 10:41,True,Mozilla/5.0 (Linux; Android 9; JKM-AL00 Build/...
1048574,5efe9ad778249007ce940c7d,0,NaN,Android Chrome,79.0.3945.116,南京市,NaN,中国,2020-07-03,mobile,...,9,Android,江苏省,直接访问,中国|江苏省|南京市|电信,mqq5pi,https://4u9.cn/mqq5pi,2020-07-03 10:41,True,Mozilla/5.0 (Linux; Android 9; INE-AL00 Build/...

In [19]:
re.to_csv("E:\\test----1\\re.csv",index=False)

In [23]:
import csv
f =open("E:\\test----1\\re.csv")
reader=csv.reader(f)

In [25]:
for line in reader:
    print(line)

['short_', 'date', 'incoming', 'Settlement', 'PV ', 'UV', 'profit']
['mqs3b2-F', '2020-01-01', '1', '0', '341', '309', '0']
['mqc22-H', '2020-01-01', '9', '3', '594', '547', '420']
['mqs3b2-F', '2020-01-02', '9', '2', '431', '373', '280']
['mqc22-H', '2020-01-02', '0', '3', '801', '734', '420']
['mqs3b2-F', '2020-01-03', '7', '1', '430', '376', '140']
['mqc22-H', '2020-01-03', '13', '4', '796', '722', '560']
['mqs3b2-F', '2020-01-04', '4', '1', '360', '340', '140']
['mqc22-H', '2020-01-04', '12', '1', '656', '602', '140']
['mqs3b2-F', '2020-01-05', '4', '1', '386', '331', '140']
['mqc22-H', '2020-01-05', '8', '0', '600', '555', '0']
['mqs3b2-F', '2020-01-06', '6', '2', '390', '353', '280']
['mqc22-H', '2020-01-06', '12', '4', '783', '712', '560']
['mqs3b2-F', '2020-01-07', '3', '0', '392', '361', '0']
['mqc22-H', '2020-01-07', '11', '1', '793', '710', '140']
['mqs3b2-F', '2020-01-08', '5', '0', '473', '408', '0']
['mqc22-H', '2020-01-08', '14', '3', '845', '781', '420']
['mqs3b2-F', '2020-01-09', '2', '0', '458', '423', '0']
['mqc22-H', '2020-01-09', '9', '1', '841', '770', '140']
['mqs3b2-F', '2020-01-10', '1', '0', '472', '425', '0']
['mqc22-H', '2020-01-10', '8', '2', '868', '802', '280']
['mqs3b2-F', '2020-01-11', '1', '0', '355', '321', '0']
['mqc22-H', '2020-01-11', '10', '5', '673', '616', '700']
['mqs3b2-F', '2020-01-12', '2', '0', '278', '255', '0']
['mqc22-H', '2020-01-12', '5', '1', '585', '521', '140']
['mqs3b2-F', '2020-01-13', '4', '0', '411', '372', '0']
['mqc22-H', '2020-01-13', '11', '3', '747', '690', '420']
['mqs3b2-F', '2020-01-14', '0', '0', '406', '374', '0']
['mqc22-H', '2020-01-14', '9', '2', '927', '838', '280']
['mqs3b2-F', '2020-01-15', '1', '0', '460', '397', '0']
['mqc22-H', '2020-01-15', '11', '1', '850', '787', '140']
['mqs3b2-F', '2020-01-16', '0', '0', '475', '391', '0']
['mqc22-H', '2020-01-16', '11', '2', '750', '677', '280']
['mqs3b2-F', '2020-01-17', '1', '0', '392', '345', '0']
['mqc22-H', '2020-01-17', '4', '0', '674', '604', '0']
['mqs3b2-F', '2020-01-18', '2', '0', '332', '292', '0']
['mqc22-H', '2020-01-18', '5', '1', '540', '487', '140']
['mqs3b2-F', '2020-01-19', '5', '0', '402', '367', '0']
['mqc22-H', '2020-01-19', '5', '0', '818', '728', '0']
['mqs3b2-F', '2020-01-20', '0', '0', '450', '398', '0']
['mqc22-H', '2020-01-20', '9', '2', '718', '688', '280']
['mqs3b2-F', '2020-01-21', '2', '0', '498', '451', '0']
['mqc22-H', '2020-01-21', '8', '0', '715', '664', '0']
['mqs3b2-F', '2020-01-22', '1', '0', '453', '404', '0']
['mqc22-H', '2020-01-22', '14', '1', '561', '526', '140']
['mqs3b2-F', '2020-01-23', '1', '0', '406', '370', '0']
['mqc22-H', '2020-01-23', '5', '1', '634', '588', '140']
['mqs3b2-F', '2020-01-24', '0', '0', '270', '235', '0']
['mqc22-H', '2020-01-24', '2', '0', '329', '309', '0']
['mqs3b2-F', '2020-01-25', '0', '0', '187', '168', '0']
['mqc22-H', '2020-01-25', '2', '0', '238', '217', '0']
['mqs3b2-F', '2020-01-26', '1', '0', '165', '154', '0']
['mqc22-H', '2020-01-26', '2', '0', '223', '208', '0']
['mqs3b2-F', '2020-01-27', '1', '0', '203', '165', '0']
['mqc22-H', '2020-01-27', '1', '0', '360', '324', '0']
['mqs3b2-F', '2020-01-28', '0', '0', '188', '172', '0']
['mqc22-H', '2020-01-28', '3', '1', '369', '335', '140']
['mqs3b2-F', '2020-01-29', '0', '0', '215', '193', '0']
['mqc22-H', '2020-01-29', '5', '0', '334', '304', '0']
['mqs3b2-F', '2020-01-30', '0', '0', '223', '190', '0']
['mqc22-H', '2020-01-30', '3', '0', '366', '337', '0']
['mqs3b2-F', '2020-01-31', '0', '0', '232', '211', '0']
['mqc22-H', '2020-01-31', '2', '0', '383', '354', '0']
['mqs3b2-F', '2020-02-01', '2', '0', '262', '223', '0']
['mqc22-H', '2020-02-01', '6', '1', '445', '398', '130']
['mqs3b2-F', '2020-02-02', '2', '0', '267', '240', '0']
['mqc22-H', '2020-02-02', '5', '0', '467', '417', '0']
['mqs3b2-F', '2020-02-03', '1', '0', '332', '292', '0']
['mqc22-H', '2020-02-03', '2', '0', '479', '428', '0']
['mqs3b2-F', '2020-02-04', '0', '0', '277', '244', '0']
['mqc22-H', '2020-02-04', '3', '0', '431', '397', '0']
['mqs3b2-F', '2020-02-05', '1', '0', '292', '258', '0']
['mqc22-H', '2020-02-05', '5', '1', '434', '397', '130']
['mqs3b2-F', '2020-02-06', '1', '0', '225', '210', '0']
['mqc22-H', '2020-02-06', '3', '0', '426', '375', '0']
['mqs3b2-F', '2020-02-07', '3', '0', '250', '221', '0']
['mqc22-H', '2020-02-07', '5', '0', '425', '389', '0']
['mqs3b2-F', '2020-02-08', '0', '0', '256', '198', '0']
['mqc22-H', '2020-02-08', '6', '1', '494', '449', '130']
['mqs3b2-F', '2020-02-09', '0', '0', '251', '241', '0']
['mqc22-H', '2020-02-09', '5', '0', '547', '512', '0']
['mqs3b2-F', '2020-02-10', '0', '0', '316', '273', '0']
['mqc22-H', '2020-02-10', '7', '1', '616', '539', '130']
['mqs3b2-F', '2020-02-11', '1', '0', '253', '233', '0']
['mqc22-H', '2020-02-11', '8', '1', '568', '506', '130']
['mqs3b2-F', '2020-02-12', '0', '0', '270', '235', '0']
['mqc22-H', '2020-02-12', '5', '0', '490', '444', '0']
['mqs3b2-F', '2020-02-13', '1', '0', '283', '242', '0']
['mqc22-H', '2020-02-13', '7', '1', '546', '483', '130']
['mqs3b2-F', '2020-02-14', '1', '0', '269', '245', '0']
['mqc22-H', '2020-02-14', '2', '0', '458', '415', '0']
['mqs3b2-F', '2020-02-15', '1', '0', '251', '218', '0']
['mqc22-H', '2020-02-15', '4', '0', '475', '434', '0']
['mqs3b2-F', '2020-02-16', '2', '0', '243', '227', '0']
['mqc22-H', '2020-02-16', '7', '1', '462', '430', '130']
['mqs3b2-F', '2020-02-17', '0', '0', '283', '249', '0']
['mqc22-H', '2020-02-17', '8', '1', '493', '444', '130']
['mqs3b2-F', '2020-02-18', '2', '0', '307', '274', '0']
['mqc22-H', '2020-02-18', '3', '0', '480', '440', '0']
['mqs3b2-F', '2020-02-19', '2', '0', '273', '252', '0']
['mqc22-H', '2020-02-19', '4', '0', '524', '497', '0']
['mqs3b2-F', '2020-02-20', '3', '0', '387', '344', '0']
['mqc22-H', '2020-02-20', '9', '1', '616', '560', '130']
['mqs3b2-F', '2020-02-21', '2', '0', '331', '286', '0']
['mqc22-H', '2020-02-21', '9', '1', '588', '532', '130']
['mqs3b2-F', '2020-02-22', '0', '0', '296', '265', '0']
['mqc22-H', '2020-02-22', '5', '0', '459', '431', '0']
['mqs3b2-F', '2020-02-23', '3', '0', '262', '236', '0']
['mqc22-H', '2020-02-23', '2', '0', '444', '408', '0']
['mqs3b2-F', '2020-02-24', '3', '0', '297', '271', '0']
['mqc22-H', '2020-02-24', '9', '1', '456', '408', '130']
['mqs3b2-F', '2020-02-25', '2', '0', '401', '353', '0']
['mqc22-H', '2020-02-25', '7', '0', '555', '507', '0']
['mqs3b2-F', '2020-02-26', '2', '0', '364', '322', '0']
['mqc22-H', '2020-02-26', '12', '1', '832', '745', '130']
['mqs3b2-F', '2020-02-27', '1', '0', '353', '306', '0']
['mqc22-H', '2020-02-27', '2', '0', '569', '527', '0']
['mqs3b2-F', '2020-02-28', '2', '0', '356', '314', '0']
['mqc22-H', '2020-02-28', '10', '1', '548', '508', '130']
['mqs3b2-F', '2020-02-29', '4', '0', '301', '266', '0']
['mqc22-H', '2020-02-29', '6', '1', '442', '412', '130']
['mqs3b2-F', '2020-03-01', '3', '0', '263', '242', '0']
['mqc22-H', '2020-03-01', '7', '1', '485', '449', '180']
['mqs3b2-F', '2020-03-02', '2', '0', '357', '298', '0']
['mqc22-H', '2020-03-02', '9', '2', '598', '539', '360']
['mqs3b2-F', '2020-03-03', '5', '0', '354', '318', '0']
['mqc22-H', '2020-03-03', '17', '2', '702', '622', '360']
['mqs3b2-F', '2020-03-04', '0', '0', '319', '270', '0']
['mqc22-H', '2020-03-04', '10', '1', '594', '542', '180']
['mqs3b2-F', '2020-03-05', '1', '0', '304', '278', '0']
['mqc22-H', '2020-03-05', '9', '0', '573', '524', '0']
['mqs3b2-F', '2020-03-06', '3', '0', '349', '295', '0']
['mqc22-H', '2020-03-06', '7', '1', '601', '555', '180']
['mqs3b2-F', '2020-03-07', '0', '0', '286', '258', '0']
['mqc22-H', '2020-03-07', '7', '1', '506', '467', '180']
['mqs3b2-F', '2020-03-08', '0', '0', '293', '264', '0']
['mqc22-H', '2020-03-08', '9', '3', '517', '463', '540']
['mqs3b2-F', '2020-03-09', '2', '0', '334', '306', '0']
['mqc22-H', '2020-03-09', '13', '2', '662', '604', '360']
['mqs3b2-F', '2020-03-10', '1', '1', '408', '362', '180']
['mqc22-H', '2020-03-10', '6', '0', '733', '682', '0']
['mqs3b2-F', '2020-03-11', '1', '0', '313', '284', '0']
['mqc22-H', '2020-03-11', '14', '2', '611', '545', '360']
['mqs3b2-F', '2020-03-12', '2', '0', '325', '300', '0']
['mqc22-H', '2020-03-12', '8', '0', '583', '522', '0']
['mqs3b2-F', '2020-03-13', '1', '0', '352', '295', '0']
['mqc22-H', '2020-03-13', '10', '0', '610', '553', '0']
['mqs3b2-F', '2020-03-14', '1', '0', '249', '221', '0']
['mqc22-H', '2020-03-14', '6', '1', '385', '367', '180']
['mqs3b2-F', '2020-03-15', '0', '0', '253', '232', '0']
['mqc22-H', '2020-03-15', '5', '0', '420', '388', '0']
['mqs3b2-F', '2020-03-16', '2', '0', '361', '328', '0']
['mqc22-H', '2020-03-16', '7', '0', '548', '497', '0']
['mqs3b2-F', '2020-03-17', '2', '0', '337', '314', '0']
['mqc22-H', '2020-03-17', '8', '1', '632', '566', '180']
['mqs3b2-F', '2020-03-18', '1', '0', '323', '293', '0']
['mqc22-H', '2020-03-18', '12', '0', '554', '491', '0']
['mqs3b2-F', '2020-03-19', '1', '0', '337', '310', '0']
['mqc22-H', '2020-03-19', '13', '1', '552', '504', '180']
['mqs3b2-F', '2020-03-20', '1', '0', '432', '375', '0']
['mqc22-H', '2020-03-20', '10', '0', '633', '583', '0']
['mqs3b2-F', '2020-03-21', '0', '0', '334', '301', '0']
['mqc22-H', '2020-03-21', '1', '0', '560', '512', '0']
['mqs3b2-F', '2020-03-22', '0', '0', '293', '267', '0']
['mqc22-H', '2020-03-22', '1', '0', '486', '444', '0']
['mqs3b2-F', '2020-03-23', '2', '0', '325', '288', '0']
['mqc22-H', '2020-03-23', '2', '0', '577', '516', '0']
['mqs3b2-F', '2020-03-24', '5', '0', '389', '333', '0']
['mqc22-H', '2020-03-24', '3', '1', '551', '508', '180']
['mqs3b2-F', '2020-03-25', '1', '1', '342', '302', '180']
['mqc22-H', '2020-03-25', '9', '5', '540', '478', '900']
['mqs3b2-F', '2020-03-26', '2', '0', '301', '273', '0']
['mqc22-H', '2020-03-26', '1', '0', '595', '542', '0']
['mqs3b2-F', '2020-03-27', '0', '0', '343', '303', '0']
['mqc22-H', '2020-03-27', '4', '1', '576', '535', '180']
['mqs3b2-F', '2020-03-28', '1', '0', '338', '294', '0']
['mqc22-H', '2020-03-28', '5', '0', '513', '487', '0']
['mqs3b2-F', '2020-03-29', '1', '0', '237', '213', '0']
['mqc22-H', '2020-03-29', '5', '2', '514', '475', '360']
['mqs3b2-F', '2020-03-30', '0', '0', '321', '275', '0']
['mqc22-H', '2020-03-30', '5', '1', '488', '449', '180']
['mqs3b2-F', '2020-03-31', '2', '0', '344', '297', '0']
['mqc22-H', '2020-03-31', '1', '0', '522', '488', '0']
['mqs3b2-F', '2020-04-01', '1', '0', '350', '317', '0']
['mqc22-H', '2020-04-01', '6', '0', '564', '517', '0']
['mqs3b2-F', '2020-04-02', '2', '3', '709', '647', '480']
['mqc22-H', '2020-04-02', '2', '0', '514', '468', '0']
['mqs3b2-F', '2020-04-03', '2', '0', '437', '394', '0']
['mqc22-H', '2020-04-03', '8', '0', '483', '445', '0']
['mqs3b2-F', '2020-04-04', '2', '0', '353', '316', '0']
['mqc22-H', '2020-04-04', '2', '0', '451', '421', '0']
['mqs3b2-F', '2020-04-05', '0', '0', '286', '259', '0']
['mqc22-H', '2020-04-05', '3', '0', '417', '378', '0']
['mqs3b2-F', '2020-04-06', '1', '0', '290', '271', '0']
['mqc22-H', '2020-04-06', '1', '0', '429', '396', '0']
['mqs3b2-F', '2020-04-07', '2', '1', '358', '318', '160']
['mqc22-H', '2020-04-07', '7', '0', '708', '656', '0']
['mqs3b2-F', '2020-04-08', '0', '0', '409', '365', '0']
['mqc22-H', '2020-04-08', '2', '1', '761', '701', '160']
['mqs3b2-F', '2020-04-09', '2', '1', '386', '351', '160']
['mqc22-H', '2020-04-09', '3', '0', '644', '584', '0']
['mqs3b2-F', '2020-04-10', '1', '3', '421', '369', '480']
['mqc22-H', '2020-04-10', '7', '0', '702', '626', '0']
['mqs3b2-F', '2020-04-11', '2', '1', '336', '303', '160']
['mqc22-H', '2020-04-11', '2', '0', '462', '423', '0']
['mqs3b2-F', '2020-04-12', '1', '2', '304', '254', '320']
['mqc22-H', '2020-04-12', '1', '1', '453', '405', '160']
['mqs3b2-F', '2020-04-13', '3', '0', '354', '309', '0']
['mqc22-H', '2020-04-13', '1', '0', '566', '498', '0']
['mqs3b2-F', '2020-04-14', '1', '0', '343', '308', '0']
['mqc22-H', '2020-04-14', '0', '0', '595', '567', '0']
['mqs3b2-F', '2020-04-15', '1', '0', '408', '369', '0']
['mqc22-H', '2020-04-15', '0', '0', '554', '510', '0']
['mqs3b2-F', '2020-04-16', '2', '0', '405', '353', '0']
['mqc22-H', '2020-04-16', '0', '0', '563', '516', '0']
['mqs3b2-F', '2020-04-17', '3', '1', '351', '312', '160']
['mqc22-H', '2020-04-17', '0', '0', '540', '480', '0']
['mqs3b2-F', '2020-04-18', '2', '1', '364', '300', '160']
['mqc22-H', '2020-04-18', '0', '0', '459', '420', '0']
['mqs3b2-F', '2020-04-19', '4', '1', '367', '314', '160']
['mqc22-H', '2020-04-19', '0', '0', '479', '437', '0']
['mqs3b2-F', '2020-04-20', '4', '0', '467', '400', '0']
['mqc22-H', '2020-04-20', '8', '1', '543', '502', '160']
['mqs3b2-F', '2020-04-21', '3', '1', '513', '448', '160']
['mqc22-H', '2020-04-21', '15', '2', '621', '563', '320']
['mqs3b2-F', '2020-04-22', '4', '0', '447', '373', '0']
['mqc22-H', '2020-04-22', '15', '3', '592', '539', '480']
['mqs3b2-F', '2020-04-23', '3', '0', '447', '389', '0']
['mqc22-H', '2020-04-23', '11', '2', '574', '542', '320']
['mqs3b2-F', '2020-04-24', '3', '1', '366', '315', '160']
['mqc22-H', '2020-04-24', '9', '0', '544', '499', '0']
['mqs3b2-F', '2020-04-25', '1', '0', '358', '299', '0']
['mqc22-H', '2020-04-25', '9', '2', '426', '391', '320']
['mqs3b2-F', '2020-04-26', '2', '0', '417', '342', '0']
['mqc22-H', '2020-04-26', '10', '1', '447', '411', '160']
['mqs3b2-F', '2020-04-27', '1', '1', '404', '359', '160']
['mqc22-H', '2020-04-27', '9', '0', '504', '471', '0']
['mqs3b2-F', '2020-04-28', '4', '2', '408', '362', '320']
['mqc22-H', '2020-04-28', '16', '2', '542', '493', '320']
['mqs3b2-F', '2020-04-29', '1', '0', '447', '371', '0']
['mqc22-H', '2020-04-29', '6', '1', '456', '419', '160']
['mqs3b2-F', '2020-04-30', '1', '0', '486', '435', '0']
['mqc22-H', '2020-04-30', '11', '0', '510', '463', '0']
['mqs3b2-F', '2020-05-01', '0', '0', '390', '339', '0']
['mqc22-H', '2020-05-01', '7', '0', '353', '329', '0']
['mqs3b2-F', '2020-05-02', '2', '0', '344', '303', '0']
['mqc22-H', '2020-05-02', '9', '0', '315', '287', '0']
['mqs3b2-F', '2020-05-03', '0', '0', '269', '242', '0']
['mqc22-H', '2020-05-03', '3', '0', '209', '191', '0']
['mqs3b2-F', '2020-05-04', '0', '0', '321', '293', '0']
['mqc22-H', '2020-05-04', '7', '1', '331', '304', '160']
['mqs3b2-F', '2020-05-05', '0', '0', '336', '288', '0']
['mqc22-H', '2020-05-05', '4', '0', '302', '271', '0']
['mqs3b2-F', '2020-05-06', '0', '0', '389', '348', '0']
['mqc22-H', '2020-05-06', '6', '0', '368', '334', '0']
['mqs3b2-F', '2020-05-07', '0', '0', '446', '382', '0']
['mqc22-H', '2020-05-07', '10', '1', '448', '419', '160']
['mqs3b2-F', '2020-05-08', '2', '0', '472', '413', '0']
['mqc22-H', '2020-05-08', '8', '0', '528', '489', '0']
['mqs3b2-F', '2020-05-09', '2', '0', '450', '404', '0']
['mqc22-H', '2020-05-09', '4', '0', '530', '495', '0']
['mqs3b2-F', '2020-05-10', '2', '0', '467', '399', '0']
['mqc22-H', '2020-05-10', '10', '1', '468', '420', '160']
['mqs3b2-F', '2020-05-11', '3', '0', '413', '365', '0']
['mqc22-H', '2020-05-11', '12', '0', '502', '464', '0']
['mqs3b2-F', '2020-05-12', '5', '0', '402', '340', '0']
['mqc22-H', '2020-05-12', '7', '3', '469', '422', '480']
['mqs3b2-F', '2020-05-13', '11', '0', '373', '328', '0']
['mqc22-H', '2020-05-13', '6', '3', '417', '388', '480']
['mqs3b2-F', '2020-05-14', '11', '0', '438', '372', '0']
['mqc22-H', '2020-05-14', '6', '2', '418', '387', '320']
['mqs3b2-F', '2020-05-15', '9', '0', '467', '395', '0']
['mqc22-H', '2020-05-15', '6', '3', '398', '368', '480']
['mqs3b2-F', '2020-05-16', '7', '0', '439', '383', '0']
['mqc22-H', '2020-05-16', '11', '2', '394', '371', '320']
['mqs3b2-F', '2020-05-17', '5', '0', '369', '303', '0']
['mqc22-H', '2020-05-17', '8', '1', '313', '295', '160']
['mqs3b2-F', '2020-05-18', '7', '1', '391', '356', '160']
['mqc22-H', '2020-05-18', '11', '3', '410', '375', '480']
['mqs3b2-F', '2020-05-19', '5', '1', '438', '372', '160']
['mqc22-H', '2020-05-19', '12', '4', '387', '353', '640']
['mqs3b2-F', '2020-05-20', '7', '1', '553', '452', '160']
['mqc22-H', '2020-05-20', '10', '3', '485', '454', '480']
['mqs3b2-F', '2020-05-21', '8', '1', '545', '452', '160']
['mqc22-H', '2020-05-21', '7', '1', '474', '443', '160']
['mqs3b2-F', '2020-05-22', '5', '1', '446', '364', '160']
['mqc22-H', '2020-05-22', '6', '1', '611', '571', '160']
['mqs3b2-F', '2020-05-23', '5', '0', '406', '356', '0']
['mqc22-H', '2020-05-23', '9', '0', '559', '512', '0']
['mqs3b2-F', '2020-05-24', '7', '2', '353', '317', '320']
['mqc22-H', '2020-05-24', '18', '0', '530', '496', '0']
['mqs3b2-F', '2020-05-25', '10', '1', '429', '388', '160']
['mqc22-H', '2020-05-25', '8', '1', '600', '560', '160']
['mqs3b2-F', '2020-05-26', '3', '0', '478', '408', '0']
['mqc22-H', '2020-05-26', '14', '1', '653', '605', '160']
['mqs3b2-F', '2020-05-27', '10', '2', '448', '385', '320']
['mqc22-H', '2020-05-27', '21', '0', '595', '564', '0']
['mqs3b2-F', '2020-05-28', '11', '0', '450', '400', '0']
['mqc22-H', '2020-05-28', '11', '0', '636', '595', '0']
['mqs3b2-F', '2020-05-29', '11', '0', '458', '402', '0']
['mqc22-H', '2020-05-29', '8', '0', '550', '508', '0']
['mqs3b2-F', '2020-05-30', '6', '0', '412', '352', '0']
['mqc22-H', '2020-05-30', '10', '1', '475', '434', '160']
['mqs3b2-F', '2020-05-31', '12', '0', '388', '352', '0']
['mqc22-H', '2020-05-31', '4', '0', '440', '421', '0']
['mqs3b2-F', '2020-06-01', '3', '1', '482', '404', '160']
['mqc22-H', '2020-06-01', '16', '1', '571', '533', '160']
['mqs3b2-F', '2020-06-02', '5', '1', '478', '430', '160']
['mqc22-H', '2020-06-02', '16', '4', '626', '590', '640']
['mqs3b2-F', '2020-06-03', '4', '1', '468', '406', '160']
['mqc22-H', '2020-06-03', '9', '1', '615', '574', '160']
['mqs3b2-F', '2020-06-04', '1', '0', '450', '406', '0']
['mqc22-H', '2020-06-04', '19', '4', '588', '548', '640']
['mqs3b2-F', '2020-06-05', '6', '3', '510', '446', '480']
['mqc22-H', '2020-06-05', '18', '6', '630', '590', '960']
['mqs3b2-F', '2020-06-06', '4', '1', '461', '402', '160']
['mqc22-H', '2020-06-06', '13', '2', '454', '432', '320']
['mqs3b2-F', '2020-06-07', '2', '0', '429', '370', '0']
['mqc22-H', '2020-06-07', '12', '5', '445', '427', '800']
['mqs3b2-F', '2020-06-08', '8', '5', '1142', '414', '800']
['mqc22-H', '2020-06-08', '19', '2', '611', '572', '320']
['mqs3b2-F', '2020-06-09', '4', '2', '673', '553', '320']
['mqc22-H', '2020-06-09', '15', '2', '583', '531', '320']
['mqs3b2-F', '2020-06-10', '8', '2', '658', '601', '320']
['mqc22-H', '2020-06-10', '25', '7', '722', '665', '1120']
['mqs3b2-F', '2020-06-11', '7', '3', '592', '511', '480']
['mqc22-H', '2020-06-11', '11', '1', '601', '562', '160']
['mqs3b2-F', '2020-06-12', '5', '1', '587', '519', '160']
['mqc22-H', '2020-06-12', '15', '1', '543', '511', '160']
['mqs3b2-F', '2020-06-13', '7', '2', '511', '440', '320']
['mqc22-H', '2020-06-13', '16', '3', '488', '449', '480']
['mqs3b2-F', '2020-06-14', '5', '1', '446', '385', '160']
['mqc22-H', '2020-06-14', '11', '1', '478', '448', '160']
['mqs3b2-F', '2020-06-15', '2', '0', '621', '544', '0']
['mqc22-H', '2020-06-15', '16', '3', '559', '519', '480']
['mqs3b2-F', '2020-06-16', '6', '1', '608', '542', '160']
['mqc22-H', '2020-06-16', '19', '3', '628', '584', '480']
['mqs3b2-F', '2020-06-17', '5', '0', '546', '489', '0']
['mqc22-H', '2020-06-17', '21', '1', '575', '523', '160']
['mqs3b2-F', '2020-06-18', '5', '2', '561', '505', '320']
['mqc22-H', '2020-06-18', '27', '2', '550', '502', '320']
['mqs3b2-F', '2020-06-19', '2', '0', '633', '558', '0']
['mqc22-H', '2020-06-19', '21', '6', '569', '527', '960']
['mqs3b2-F', '2020-06-20', '1', '0', '556', '489', '0']
['mqc22-H', '2020-06-20', '7', '0', '544', '501', '0']
['mqs3b2-F', '2020-06-21', '2', '0', '556', '493', '0']
['mqc22-H', '2020-06-21', '11', '1', '448', '420', '160']
['mqs3b2-F', '2020-06-22', '2', '0', '635', '530', '0']
['mqc22-H', '2020-06-22', '14', '2', '586', '550', '320']
['mqs3b2-F', '2020-06-23', '3', '0', '652', '551', '0']
['mqc22-H', '2020-06-23', '13', '3', '618', '572', '480']
['mqs3b2-F', '2020-06-24', '6', '3', '793', '704', '480']
['mqc22-H', '2020-06-24', '5', '2', '636', '608', '320']

In [27]:
with open("E:\\test----1\\re.csv") as f:
    lines=list(csv.reader(f))

In [29]:
header,values=lines[0],lines[1:]

header,values

(['short_', 'date', 'incoming', 'Settlement', 'PV ', 'UV', 'profit'],
 [['mqs3b2-F', '2020-01-01', '1', '0', '341', '309', '0'],
  ['mqc22-H', '2020-01-01', '9', '3', '594', '547', '420'],
  ['mqs3b2-F', '2020-01-02', '9', '2', '431', '373', '280'],
  ['mqc22-H', '2020-01-02', '0', '3', '801', '734', '420'],
  ['mqs3b2-F', '2020-01-03', '7', '1', '430', '376', '140'],
  ['mqc22-H', '2020-01-03', '13', '4', '796', '722', '560'],
  ['mqs3b2-F', '2020-01-04', '4', '1', '360', '340', '140'],
  ['mqc22-H', '2020-01-04', '12', '1', '656', '602', '140'],
  ['mqs3b2-F', '2020-01-05', '4', '1', '386', '331', '140'],
  ['mqc22-H', '2020-01-05', '8', '0', '600', '555', '0'],
  ['mqs3b2-F', '2020-01-06', '6', '2', '390', '353', '280'],
  ['mqc22-H', '2020-01-06', '12', '4', '783', '712', '560'],
  ['mqs3b2-F', '2020-01-07', '3', '0', '392', '361', '0'],
  ['mqc22-H', '2020-01-07', '11', '1', '793', '710', '140'],
  ['mqs3b2-F', '2020-01-08', '5', '0', '473', '408', '0'],
  ['mqc22-H', '2020-01-08', '14', '3', '845', '781', '420'],
  ['mqs3b2-F', '2020-01-09', '2', '0', '458', '423', '0'],
  ['mqc22-H', '2020-01-09', '9', '1', '841', '770', '140'],
  ['mqs3b2-F', '2020-01-10', '1', '0', '472', '425', '0'],
  ['mqc22-H', '2020-01-10', '8', '2', '868', '802', '280'],
  ['mqs3b2-F', '2020-01-11', '1', '0', '355', '321', '0'],
  ['mqc22-H', '2020-01-11', '10', '5', '673', '616', '700'],
  ['mqs3b2-F', '2020-01-12', '2', '0', '278', '255', '0'],
  ['mqc22-H', '2020-01-12', '5', '1', '585', '521', '140'],
  ['mqs3b2-F', '2020-01-13', '4', '0', '411', '372', '0'],
  ['mqc22-H', '2020-01-13', '11', '3', '747', '690', '420'],
  ['mqs3b2-F', '2020-01-14', '0', '0', '406', '374', '0'],
  ['mqc22-H', '2020-01-14', '9', '2', '927', '838', '280'],
  ['mqs3b2-F', '2020-01-15', '1', '0', '460', '397', '0'],
  ['mqc22-H', '2020-01-15', '11', '1', '850', '787', '140'],
  ['mqs3b2-F', '2020-01-16', '0', '0', '475', '391', '0'],
  ['mqc22-H', '2020-01-16', '11', '2', '750', '677', '280'],
  ['mqs3b2-F', '2020-01-17', '1', '0', '392', '345', '0'],
  ['mqc22-H', '2020-01-17', '4', '0', '674', '604', '0'],
  ['mqs3b2-F', '2020-01-18', '2', '0', '332', '292', '0'],
  ['mqc22-H', '2020-01-18', '5', '1', '540', '487', '140'],
  ['mqs3b2-F', '2020-01-19', '5', '0', '402', '367', '0'],
  ['mqc22-H', '2020-01-19', '5', '0', '818', '728', '0'],
  ['mqs3b2-F', '2020-01-20', '0', '0', '450', '398', '0'],
  ['mqc22-H', '2020-01-20', '9', '2', '718', '688', '280'],
  ['mqs3b2-F', '2020-01-21', '2', '0', '498', '451', '0'],
  ['mqc22-H', '2020-01-21', '8', '0', '715', '664', '0'],
  ['mqs3b2-F', '2020-01-22', '1', '0', '453', '404', '0'],
  ['mqc22-H', '2020-01-22', '14', '1', '561', '526', '140'],
  ['mqs3b2-F', '2020-01-23', '1', '0', '406', '370', '0'],
  ['mqc22-H', '2020-01-23', '5', '1', '634', '588', '140'],
  ['mqs3b2-F', '2020-01-24', '0', '0', '270', '235', '0'],
  ['mqc22-H', '2020-01-24', '2', '0', '329', '309', '0'],
  ['mqs3b2-F', '2020-01-25', '0', '0', '187', '168', '0'],
  ['mqc22-H', '2020-01-25', '2', '0', '238', '217', '0'],
  ['mqs3b2-F', '2020-01-26', '1', '0', '165', '154', '0'],
  ['mqc22-H', '2020-01-26', '2', '0', '223', '208', '0'],
  ['mqs3b2-F', '2020-01-27', '1', '0', '203', '165', '0'],
  ['mqc22-H', '2020-01-27', '1', '0', '360', '324', '0'],
  ['mqs3b2-F', '2020-01-28', '0', '0', '188', '172', '0'],
  ['mqc22-H', '2020-01-28', '3', '1', '369', '335', '140'],
  ['mqs3b2-F', '2020-01-29', '0', '0', '215', '193', '0'],
  ['mqc22-H', '2020-01-29', '5', '0', '334', '304', '0'],
  ['mqs3b2-F', '2020-01-30', '0', '0', '223', '190', '0'],
  ['mqc22-H', '2020-01-30', '3', '0', '366', '337', '0'],
  ['mqs3b2-F', '2020-01-31', '0', '0', '232', '211', '0'],
  ['mqc22-H', '2020-01-31', '2', '0', '383', '354', '0'],
  ['mqs3b2-F', '2020-02-01', '2', '0', '262', '223', '0'],
  ['mqc22-H', '2020-02-01', '6', '1', '445', '398', '130'],
  ['mqs3b2-F', '2020-02-02', '2', '0', '267', '240', '0'],
  ['mqc22-H', '2020-02-02', '5', '0', '467', '417', '0'],
  ['mqs3b2-F', '2020-02-03', '1', '0', '332', '292', '0'],
  ['mqc22-H', '2020-02-03', '2', '0', '479', '428', '0'],
  ['mqs3b2-F', '2020-02-04', '0', '0', '277', '244', '0'],
  ['mqc22-H', '2020-02-04', '3', '0', '431', '397', '0'],
  ['mqs3b2-F', '2020-02-05', '1', '0', '292', '258', '0'],
  ['mqc22-H', '2020-02-05', '5', '1', '434', '397', '130'],
  ['mqs3b2-F', '2020-02-06', '1', '0', '225', '210', '0'],
  ['mqc22-H', '2020-02-06', '3', '0', '426', '375', '0'],
  ['mqs3b2-F', '2020-02-07', '3', '0', '250', '221', '0'],
  ['mqc22-H', '2020-02-07', '5', '0', '425', '389', '0'],
  ['mqs3b2-F', '2020-02-08', '0', '0', '256', '198', '0'],
  ['mqc22-H', '2020-02-08', '6', '1', '494', '449', '130'],
  ['mqs3b2-F', '2020-02-09', '0', '0', '251', '241', '0'],
  ['mqc22-H', '2020-02-09', '5', '0', '547', '512', '0'],
  ['mqs3b2-F', '2020-02-10', '0', '0', '316', '273', '0'],
  ['mqc22-H', '2020-02-10', '7', '1', '616', '539', '130'],
  ['mqs3b2-F', '2020-02-11', '1', '0', '253', '233', '0'],
  ['mqc22-H', '2020-02-11', '8', '1', '568', '506', '130'],
  ['mqs3b2-F', '2020-02-12', '0', '0', '270', '235', '0'],
  ['mqc22-H', '2020-02-12', '5', '0', '490', '444', '0'],
  ['mqs3b2-F', '2020-02-13', '1', '0', '283', '242', '0'],
  ['mqc22-H', '2020-02-13', '7', '1', '546', '483', '130'],
  ['mqs3b2-F', '2020-02-14', '1', '0', '269', '245', '0'],
  ['mqc22-H', '2020-02-14', '2', '0', '458', '415', '0'],
  ['mqs3b2-F', '2020-02-15', '1', '0', '251', '218', '0'],
  ['mqc22-H', '2020-02-15', '4', '0', '475', '434', '0'],
  ['mqs3b2-F', '2020-02-16', '2', '0', '243', '227', '0'],
  ['mqc22-H', '2020-02-16', '7', '1', '462', '430', '130'],
  ['mqs3b2-F', '2020-02-17', '0', '0', '283', '249', '0'],
  ['mqc22-H', '2020-02-17', '8', '1', '493', '444', '130'],
  ['mqs3b2-F', '2020-02-18', '2', '0', '307', '274', '0'],
  ['mqc22-H', '2020-02-18', '3', '0', '480', '440', '0'],
  ['mqs3b2-F', '2020-02-19', '2', '0', '273', '252', '0'],
  ['mqc22-H', '2020-02-19', '4', '0', '524', '497', '0'],
  ['mqs3b2-F', '2020-02-20', '3', '0', '387', '344', '0'],
  ['mqc22-H', '2020-02-20', '9', '1', '616', '560', '130'],
  ['mqs3b2-F', '2020-02-21', '2', '0', '331', '286', '0'],
  ['mqc22-H', '2020-02-21', '9', '1', '588', '532', '130'],
  ['mqs3b2-F', '2020-02-22', '0', '0', '296', '265', '0'],
  ['mqc22-H', '2020-02-22', '5', '0', '459', '431', '0'],
  ['mqs3b2-F', '2020-02-23', '3', '0', '262', '236', '0'],
  ['mqc22-H', '2020-02-23', '2', '0', '444', '408', '0'],
  ['mqs3b2-F', '2020-02-24', '3', '0', '297', '271', '0'],
  ['mqc22-H', '2020-02-24', '9', '1', '456', '408', '130'],
  ['mqs3b2-F', '2020-02-25', '2', '0', '401', '353', '0'],
  ['mqc22-H', '2020-02-25', '7', '0', '555', '507', '0'],
  ['mqs3b2-F', '2020-02-26', '2', '0', '364', '322', '0'],
  ['mqc22-H', '2020-02-26', '12', '1', '832', '745', '130'],
  ['mqs3b2-F', '2020-02-27', '1', '0', '353', '306', '0'],
  ['mqc22-H', '2020-02-27', '2', '0', '569', '527', '0'],
  ['mqs3b2-F', '2020-02-28', '2', '0', '356', '314', '0'],
  ['mqc22-H', '2020-02-28', '10', '1', '548', '508', '130'],
  ['mqs3b2-F', '2020-02-29', '4', '0', '301', '266', '0'],
  ['mqc22-H', '2020-02-29', '6', '1', '442', '412', '130'],
  ['mqs3b2-F', '2020-03-01', '3', '0', '263', '242', '0'],
  ['mqc22-H', '2020-03-01', '7', '1', '485', '449', '180'],
  ['mqs3b2-F', '2020-03-02', '2', '0', '357', '298', '0'],
  ['mqc22-H', '2020-03-02', '9', '2', '598', '539', '360'],
  ['mqs3b2-F', '2020-03-03', '5', '0', '354', '318', '0'],
  ['mqc22-H', '2020-03-03', '17', '2', '702', '622', '360'],
  ['mqs3b2-F', '2020-03-04', '0', '0', '319', '270', '0'],
  ['mqc22-H', '2020-03-04', '10', '1', '594', '542', '180'],
  ['mqs3b2-F', '2020-03-05', '1', '0', '304', '278', '0'],
  ['mqc22-H', '2020-03-05', '9', '0', '573', '524', '0'],
  ['mqs3b2-F', '2020-03-06', '3', '0', '349', '295', '0'],
  ['mqc22-H', '2020-03-06', '7', '1', '601', '555', '180'],
  ['mqs3b2-F', '2020-03-07', '0', '0', '286', '258', '0'],
  ['mqc22-H', '2020-03-07', '7', '1', '506', '467', '180'],
  ['mqs3b2-F', '2020-03-08', '0', '0', '293', '264', '0'],
  ['mqc22-H', '2020-03-08', '9', '3', '517', '463', '540'],
  ['mqs3b2-F', '2020-03-09', '2', '0', '334', '306', '0'],
  ['mqc22-H', '2020-03-09', '13', '2', '662', '604', '360'],
  ['mqs3b2-F', '2020-03-10', '1', '1', '408', '362', '180'],
  ['mqc22-H', '2020-03-10', '6', '0', '733', '682', '0'],
  ['mqs3b2-F', '2020-03-11', '1', '0', '313', '284', '0'],
  ['mqc22-H', '2020-03-11', '14', '2', '611', '545', '360'],
  ['mqs3b2-F', '2020-03-12', '2', '0', '325', '300', '0'],
  ['mqc22-H', '2020-03-12', '8', '0', '583', '522', '0'],
  ['mqs3b2-F', '2020-03-13', '1', '0', '352', '295', '0'],
  ['mqc22-H', '2020-03-13', '10', '0', '610', '553', '0'],
  ['mqs3b2-F', '2020-03-14', '1', '0', '249', '221', '0'],
  ['mqc22-H', '2020-03-14', '6', '1', '385', '367', '180'],
  ['mqs3b2-F', '2020-03-15', '0', '0', '253', '232', '0'],
  ['mqc22-H', '2020-03-15', '5', '0', '420', '388', '0'],
  ['mqs3b2-F', '2020-03-16', '2', '0', '361', '328', '0'],
  ['mqc22-H', '2020-03-16', '7', '0', '548', '497', '0'],
  ['mqs3b2-F', '2020-03-17', '2', '0', '337', '314', '0'],
  ['mqc22-H', '2020-03-17', '8', '1', '632', '566', '180'],
  ['mqs3b2-F', '2020-03-18', '1', '0', '323', '293', '0'],
  ['mqc22-H', '2020-03-18', '12', '0', '554', '491', '0'],
  ['mqs3b2-F', '2020-03-19', '1', '0', '337', '310', '0'],
  ['mqc22-H', '2020-03-19', '13', '1', '552', '504', '180'],
  ['mqs3b2-F', '2020-03-20', '1', '0', '432', '375', '0'],
  ['mqc22-H', '2020-03-20', '10', '0', '633', '583', '0'],
  ['mqs3b2-F', '2020-03-21', '0', '0', '334', '301', '0'],
  ['mqc22-H', '2020-03-21', '1', '0', '560', '512', '0'],
  ['mqs3b2-F', '2020-03-22', '0', '0', '293', '267', '0'],
  ['mqc22-H', '2020-03-22', '1', '0', '486', '444', '0'],
  ['mqs3b2-F', '2020-03-23', '2', '0', '325', '288', '0'],
  ['mqc22-H', '2020-03-23', '2', '0', '577', '516', '0'],
  ['mqs3b2-F', '2020-03-24', '5', '0', '389', '333', '0'],
  ['mqc22-H', '2020-03-24', '3', '1', '551', '508', '180'],
  ['mqs3b2-F', '2020-03-25', '1', '1', '342', '302', '180'],
  ['mqc22-H', '2020-03-25', '9', '5', '540', '478', '900'],
  ['mqs3b2-F', '2020-03-26', '2', '0', '301', '273', '0'],
  ['mqc22-H', '2020-03-26', '1', '0', '595', '542', '0'],
  ['mqs3b2-F', '2020-03-27', '0', '0', '343', '303', '0'],
  ['mqc22-H', '2020-03-27', '4', '1', '576', '535', '180'],
  ['mqs3b2-F', '2020-03-28', '1', '0', '338', '294', '0'],
  ['mqc22-H', '2020-03-28', '5', '0', '513', '487', '0'],
  ['mqs3b2-F', '2020-03-29', '1', '0', '237', '213', '0'],
  ['mqc22-H', '2020-03-29', '5', '2', '514', '475', '360'],
  ['mqs3b2-F', '2020-03-30', '0', '0', '321', '275', '0'],
  ['mqc22-H', '2020-03-30', '5', '1', '488', '449', '180'],
  ['mqs3b2-F', '2020-03-31', '2', '0', '344', '297', '0'],
  ['mqc22-H', '2020-03-31', '1', '0', '522', '488', '0'],
  ['mqs3b2-F', '2020-04-01', '1', '0', '350', '317', '0'],
  ['mqc22-H', '2020-04-01', '6', '0', '564', '517', '0'],
  ['mqs3b2-F', '2020-04-02', '2', '3', '709', '647', '480'],
  ['mqc22-H', '2020-04-02', '2', '0', '514', '468', '0'],
  ['mqs3b2-F', '2020-04-03', '2', '0', '437', '394', '0'],
  ['mqc22-H', '2020-04-03', '8', '0', '483', '445', '0'],
  ['mqs3b2-F', '2020-04-04', '2', '0', '353', '316', '0'],
  ['mqc22-H', '2020-04-04', '2', '0', '451', '421', '0'],
  ['mqs3b2-F', '2020-04-05', '0', '0', '286', '259', '0'],
  ['mqc22-H', '2020-04-05', '3', '0', '417', '378', '0'],
  ['mqs3b2-F', '2020-04-06', '1', '0', '290', '271', '0'],
  ['mqc22-H', '2020-04-06', '1', '0', '429', '396', '0'],
  ['mqs3b2-F', '2020-04-07', '2', '1', '358', '318', '160'],
  ['mqc22-H', '2020-04-07', '7', '0', '708', '656', '0'],
  ['mqs3b2-F', '2020-04-08', '0', '0', '409', '365', '0'],
  ['mqc22-H', '2020-04-08', '2', '1', '761', '701', '160'],
  ['mqs3b2-F', '2020-04-09', '2', '1', '386', '351', '160'],
  ['mqc22-H', '2020-04-09', '3', '0', '644', '584', '0'],
  ['mqs3b2-F', '2020-04-10', '1', '3', '421', '369', '480'],
  ['mqc22-H', '2020-04-10', '7', '0', '702', '626', '0'],
  ['mqs3b2-F', '2020-04-11', '2', '1', '336', '303', '160'],
  ['mqc22-H', '2020-04-11', '2', '0', '462', '423', '0'],
  ['mqs3b2-F', '2020-04-12', '1', '2', '304', '254', '320'],
  ['mqc22-H', '2020-04-12', '1', '1', '453', '405', '160'],
  ['mqs3b2-F', '2020-04-13', '3', '0', '354', '309', '0'],
  ['mqc22-H', '2020-04-13', '1', '0', '566', '498', '0'],
  ['mqs3b2-F', '2020-04-14', '1', '0', '343', '308', '0'],
  ['mqc22-H', '2020-04-14', '0', '0', '595', '567', '0'],
  ['mqs3b2-F', '2020-04-15', '1', '0', '408', '369', '0'],
  ['mqc22-H', '2020-04-15', '0', '0', '554', '510', '0'],
  ['mqs3b2-F', '2020-04-16', '2', '0', '405', '353', '0'],
  ['mqc22-H', '2020-04-16', '0', '0', '563', '516', '0'],
  ['mqs3b2-F', '2020-04-17', '3', '1', '351', '312', '160'],
  ['mqc22-H', '2020-04-17', '0', '0', '540', '480', '0'],
  ['mqs3b2-F', '2020-04-18', '2', '1', '364', '300', '160'],
  ['mqc22-H', '2020-04-18', '0', '0', '459', '420', '0'],
  ['mqs3b2-F', '2020-04-19', '4', '1', '367', '314', '160'],
  ['mqc22-H', '2020-04-19', '0', '0', '479', '437', '0'],
  ['mqs3b2-F', '2020-04-20', '4', '0', '467', '400', '0'],
  ['mqc22-H', '2020-04-20', '8', '1', '543', '502', '160'],
  ['mqs3b2-F', '2020-04-21', '3', '1', '513', '448', '160'],
  ['mqc22-H', '2020-04-21', '15', '2', '621', '563', '320'],
  ['mqs3b2-F', '2020-04-22', '4', '0', '447', '373', '0'],
  ['mqc22-H', '2020-04-22', '15', '3', '592', '539', '480'],
  ['mqs3b2-F', '2020-04-23', '3', '0', '447', '389', '0'],
  ['mqc22-H', '2020-04-23', '11', '2', '574', '542', '320'],
  ['mqs3b2-F', '2020-04-24', '3', '1', '366', '315', '160'],
  ['mqc22-H', '2020-04-24', '9', '0', '544', '499', '0'],
  ['mqs3b2-F', '2020-04-25', '1', '0', '358', '299', '0'],
  ['mqc22-H', '2020-04-25', '9', '2', '426', '391', '320'],
  ['mqs3b2-F', '2020-04-26', '2', '0', '417', '342', '0'],
  ['mqc22-H', '2020-04-26', '10', '1', '447', '411', '160'],
  ['mqs3b2-F', '2020-04-27', '1', '1', '404', '359', '160'],
  ['mqc22-H', '2020-04-27', '9', '0', '504', '471', '0'],
  ['mqs3b2-F', '2020-04-28', '4', '2', '408', '362', '320'],
  ['mqc22-H', '2020-04-28', '16', '2', '542', '493', '320'],
  ['mqs3b2-F', '2020-04-29', '1', '0', '447', '371', '0'],
  ['mqc22-H', '2020-04-29', '6', '1', '456', '419', '160'],
  ['mqs3b2-F', '2020-04-30', '1', '0', '486', '435', '0'],
  ['mqc22-H', '2020-04-30', '11', '0', '510', '463', '0'],
  ['mqs3b2-F', '2020-05-01', '0', '0', '390', '339', '0'],
  ['mqc22-H', '2020-05-01', '7', '0', '353', '329', '0'],
  ['mqs3b2-F', '2020-05-02', '2', '0', '344', '303', '0'],
  ['mqc22-H', '2020-05-02', '9', '0', '315', '287', '0'],
  ['mqs3b2-F', '2020-05-03', '0', '0', '269', '242', '0'],
  ['mqc22-H', '2020-05-03', '3', '0', '209', '191', '0'],
  ['mqs3b2-F', '2020-05-04', '0', '0', '321', '293', '0'],
  ['mqc22-H', '2020-05-04', '7', '1', '331', '304', '160'],
  ['mqs3b2-F', '2020-05-05', '0', '0', '336', '288', '0'],
  ['mqc22-H', '2020-05-05', '4', '0', '302', '271', '0'],
  ['mqs3b2-F', '2020-05-06', '0', '0', '389', '348', '0'],
  ['mqc22-H', '2020-05-06', '6', '0', '368', '334', '0'],
  ['mqs3b2-F', '2020-05-07', '0', '0', '446', '382', '0'],
  ['mqc22-H', '2020-05-07', '10', '1', '448', '419', '160'],
  ['mqs3b2-F', '2020-05-08', '2', '0', '472', '413', '0'],
  ['mqc22-H', '2020-05-08', '8', '0', '528', '489', '0'],
  ['mqs3b2-F', '2020-05-09', '2', '0', '450', '404', '0'],
  ['mqc22-H', '2020-05-09', '4', '0', '530', '495', '0'],
  ['mqs3b2-F', '2020-05-10', '2', '0', '467', '399', '0'],
  ['mqc22-H', '2020-05-10', '10', '1', '468', '420', '160'],
  ['mqs3b2-F', '2020-05-11', '3', '0', '413', '365', '0'],
  ['mqc22-H', '2020-05-11', '12', '0', '502', '464', '0'],
  ['mqs3b2-F', '2020-05-12', '5', '0', '402', '340', '0'],
  ['mqc22-H', '2020-05-12', '7', '3', '469', '422', '480'],
  ['mqs3b2-F', '2020-05-13', '11', '0', '373', '328', '0'],
  ['mqc22-H', '2020-05-13', '6', '3', '417', '388', '480'],
  ['mqs3b2-F', '2020-05-14', '11', '0', '438', '372', '0'],
  ['mqc22-H', '2020-05-14', '6', '2', '418', '387', '320'],
  ['mqs3b2-F', '2020-05-15', '9', '0', '467', '395', '0'],
  ['mqc22-H', '2020-05-15', '6', '3', '398', '368', '480'],
  ['mqs3b2-F', '2020-05-16', '7', '0', '439', '383', '0'],
  ['mqc22-H', '2020-05-16', '11', '2', '394', '371', '320'],
  ['mqs3b2-F', '2020-05-17', '5', '0', '369', '303', '0'],
  ['mqc22-H', '2020-05-17', '8', '1', '313', '295', '160'],
  ['mqs3b2-F', '2020-05-18', '7', '1', '391', '356', '160'],
  ['mqc22-H', '2020-05-18', '11', '3', '410', '375', '480'],
  ['mqs3b2-F', '2020-05-19', '5', '1', '438', '372', '160'],
  ['mqc22-H', '2020-05-19', '12', '4', '387', '353', '640'],
  ['mqs3b2-F', '2020-05-20', '7', '1', '553', '452', '160'],
  ['mqc22-H', '2020-05-20', '10', '3', '485', '454', '480'],
  ['mqs3b2-F', '2020-05-21', '8', '1', '545', '452', '160'],
  ['mqc22-H', '2020-05-21', '7', '1', '474', '443', '160'],
  ['mqs3b2-F', '2020-05-22', '5', '1', '446', '364', '160'],
  ['mqc22-H', '2020-05-22', '6', '1', '611', '571', '160'],
  ['mqs3b2-F', '2020-05-23', '5', '0', '406', '356', '0'],
  ['mqc22-H', '2020-05-23', '9', '0', '559', '512', '0'],
  ['mqs3b2-F', '2020-05-24', '7', '2', '353', '317', '320'],
  ['mqc22-H', '2020-05-24', '18', '0', '530', '496', '0'],
  ['mqs3b2-F', '2020-05-25', '10', '1', '429', '388', '160'],
  ['mqc22-H', '2020-05-25', '8', '1', '600', '560', '160'],
  ['mqs3b2-F', '2020-05-26', '3', '0', '478', '408', '0'],
  ['mqc22-H', '2020-05-26', '14', '1', '653', '605', '160'],
  ['mqs3b2-F', '2020-05-27', '10', '2', '448', '385', '320'],
  ['mqc22-H', '2020-05-27', '21', '0', '595', '564', '0'],
  ['mqs3b2-F', '2020-05-28', '11', '0', '450', '400', '0'],
  ['mqc22-H', '2020-05-28', '11', '0', '636', '595', '0'],
  ['mqs3b2-F', '2020-05-29', '11', '0', '458', '402', '0'],
  ['mqc22-H', '2020-05-29', '8', '0', '550', '508', '0'],
  ['mqs3b2-F', '2020-05-30', '6', '0', '412', '352', '0'],
  ['mqc22-H', '2020-05-30', '10', '1', '475', '434', '160'],
  ['mqs3b2-F', '2020-05-31', '12', '0', '388', '352', '0'],
  ['mqc22-H', '2020-05-31', '4', '0', '440', '421', '0'],
  ['mqs3b2-F', '2020-06-01', '3', '1', '482', '404', '160'],
  ['mqc22-H', '2020-06-01', '16', '1', '571', '533', '160'],
  ['mqs3b2-F', '2020-06-02', '5', '1', '478', '430', '160'],
  ['mqc22-H', '2020-06-02', '16', '4', '626', '590', '640'],
  ['mqs3b2-F', '2020-06-03', '4', '1', '468', '406', '160'],
  ['mqc22-H', '2020-06-03', '9', '1', '615', '574', '160'],
  ['mqs3b2-F', '2020-06-04', '1', '0', '450', '406', '0'],
  ['mqc22-H', '2020-06-04', '19', '4', '588', '548', '640'],
  ['mqs3b2-F', '2020-06-05', '6', '3', '510', '446', '480'],
  ['mqc22-H', '2020-06-05', '18', '6', '630', '590', '960'],
  ['mqs3b2-F', '2020-06-06', '4', '1', '461', '402', '160'],
  ['mqc22-H', '2020-06-06', '13', '2', '454', '432', '320'],
  ['mqs3b2-F', '2020-06-07', '2', '0', '429', '370', '0'],
  ['mqc22-H', '2020-06-07', '12', '5', '445', '427', '800'],
  ['mqs3b2-F', '2020-06-08', '8', '5', '1142', '414', '800'],
  ['mqc22-H', '2020-06-08', '19', '2', '611', '572', '320'],
  ['mqs3b2-F', '2020-06-09', '4', '2', '673', '553', '320'],
  ['mqc22-H', '2020-06-09', '15', '2', '583', '531', '320'],
  ['mqs3b2-F', '2020-06-10', '8', '2', '658', '601', '320'],
  ['mqc22-H', '2020-06-10', '25', '7', '722', '665', '1120'],
  ['mqs3b2-F', '2020-06-11', '7', '3', '592', '511', '480'],
  ['mqc22-H', '2020-06-11', '11', '1', '601', '562', '160'],
  ['mqs3b2-F', '2020-06-12', '5', '1', '587', '519', '160'],
  ['mqc22-H', '2020-06-12', '15', '1', '543', '511', '160'],
  ['mqs3b2-F', '2020-06-13', '7', '2', '511', '440', '320'],
  ['mqc22-H', '2020-06-13', '16', '3', '488', '449', '480'],
  ['mqs3b2-F', '2020-06-14', '5', '1', '446', '385', '160'],
  ['mqc22-H', '2020-06-14', '11', '1', '478', '448', '160'],
  ['mqs3b2-F', '2020-06-15', '2', '0', '621', '544', '0'],
  ['mqc22-H', '2020-06-15', '16', '3', '559', '519', '480'],
  ['mqs3b2-F', '2020-06-16', '6', '1', '608', '542', '160'],

In [30]:
data_dict={h:v for h,v in zip(header,zip(*values))}
data_dict

{'short_': ('mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H',
  'mqs3b2-F',
  'mqc22-H'),
 'date': ('2020-01-01',
  '2020-01-01',
  '2020-01-02',
  '2020-01-02',
  '2020-01-03',
  '2020-01-03',
  '2020-01-04',
  '2020-01-04',
  '2020-01-05',
  '2020-01-05',
  '2020-01-06',
  '2020-01-06',
  '2020-01-07',
  '2020-01-07',
  '2020-01-08',
  '2020-01-08',
  '2020-01-09',
  '2020-01-09',
  '2020-01-10',
  '2020-01-10',
  '2020-01-11',
  '2020-01-11',
  '2020-01-12',
  '2020-01-12',
  '2020-01-13',
  '2020-01-13',
  '2020-01-14',
  '2020-01-14',
  '2020-01-15',
  '2020-01-15',
  '2020-01-16',
  '2020-01-16',
  '2020-01-17',
  '2020-01-17',
  '2020-01-18',
  '2020-01-18',
  '2020-01-19',
  '2020-01-19',
  '2020-01-20',
  '2020-01-20',
  '2020-01-21',
  '2020-01-21',
  '2020-01-22',
  '2020-01-22',
  '2020-01-23',
  '2020-01-23',
  '2020-01-24',
  '2020-01-24',
  '2020-01-25',
  '2020-01-25',
  '2020-01-26',
  '2020-01-26',
  '2020-01-27',
  '2020-01-27',
  '2020-01-28',
  '2020-01-28',
  '2020-01-29',
  '2020-01-29',
  '2020-01-30',
  '2020-01-30',
  '2020-01-31',
  '2020-01-31',
  '2020-02-01',
  '2020-02-01',
  '2020-02-02',
  '2020-02-02',
  '2020-02-03',
  '2020-02-03',
  '2020-02-04',
  '2020-02-04',
  '2020-02-05',
  '2020-02-05',
  '2020-02-06',
  '2020-02-06',
  '2020-02-07',
  '2020-02-07',
  '2020-02-08',
  '2020-02-08',
  '2020-02-09',
  '2020-02-09',
  '2020-02-10',
  '2020-02-10',
  '2020-02-11',
  '2020-02-11',
  '2020-02-12',
  '2020-02-12',
  '2020-02-13',
  '2020-02-13',
  '2020-02-14',
  '2020-02-14',
  '2020-02-15',
  '2020-02-15',
  '2020-02-16',
  '2020-02-16',
  '2020-02-17',
  '2020-02-17',
  '2020-02-18',
  '2020-02-18',
  '2020-02-19',
  '2020-02-19',
  '2020-02-20',
  '2020-02-20',
  '2020-02-21',
  '2020-02-21',
  '2020-02-22',
  '2020-02-22',
  '2020-02-23',
  '2020-02-23',
  '2020-02-24',
  '2020-02-24',
  '2020-02-25',
  '2020-02-25',
  '2020-02-26',
  '2020-02-26',
  '2020-02-27',
  '2020-02-27',
  '2020-02-28',
  '2020-02-28',
  '2020-02-29',
  '2020-02-29',
  '2020-03-01',
  '2020-03-01',
  '2020-03-02',
  '2020-03-02',
  '2020-03-03',
  '2020-03-03',
  '2020-03-04',
  '2020-03-04',
  '2020-03-05',
  '2020-03-05',
  '2020-03-06',
  '2020-03-06',
  '2020-03-07',
  '2020-03-07',
  '2020-03-08',
  '2020-03-08',
  '2020-03-09',
  '2020-03-09',
  '2020-03-10',
  '2020-03-10',
  '2020-03-11',
  '2020-03-11',
  '2020-03-12',
  '2020-03-12',
  '2020-03-13',
  '2020-03-13',
  '2020-03-14',
  '2020-03-14',
  '2020-03-15',
  '2020-03-15',
  '2020-03-16',
  '2020-03-16',
  '2020-03-17',
  '2020-03-17',
  '2020-03-18',
  '2020-03-18',
  '2020-03-19',
  '2020-03-19',
  '2020-03-20',
  '2020-03-20',
  '2020-03-21',
  '2020-03-21',
  '2020-03-22',
  '2020-03-22',
  '2020-03-23',
  '2020-03-23',
  '2020-03-24',
  '2020-03-24',
  '2020-03-25',
  '2020-03-25',
  '2020-03-26',
  '2020-03-26',
  '2020-03-27',
  '2020-03-27',
  '2020-03-28',
  '2020-03-28',
  '2020-03-29',
  '2020-03-29',
  '2020-03-30',
  '2020-03-30',
  '2020-03-31',
  '2020-03-31',
  '2020-04-01',
  '2020-04-01',
  '2020-04-02',
  '2020-04-02',
  '2020-04-03',
  '2020-04-03',
  '2020-04-04',
  '2020-04-04',
  '2020-04-05',
  '2020-04-05',
  '2020-04-06',
  '2020-04-06',
  '2020-04-07',
  '2020-04-07',
  '2020-04-08',
  '2020-04-08',
  '2020-04-09',
  '2020-04-09',
  '2020-04-10',
  '2020-04-10',
  '2020-04-11',
  '2020-04-11',
  '2020-04-12',
  '2020-04-12',
  '2020-04-13',
  '2020-04-13',
  '2020-04-14',
  '2020-04-14',
  '2020-04-15',
  '2020-04-15',
  '2020-04-16',
  '2020-04-16',
  '2020-04-17',
  '2020-04-17',
  '2020-04-18',
  '2020-04-18',
  '2020-04-19',
  '2020-04-19',
  '2020-04-20',
  '2020-04-20',
  '2020-04-21',
  '2020-04-21',
  '2020-04-22',
  '2020-04-22',
  '2020-04-23',
  '2020-04-23',
  '2020-04-24',
  '2020-04-24',
  '2020-04-25',
  '2020-04-25',
  '2020-04-26',
  '2020-04-26',
  '2020-04-27',
  '2020-04-27',
  '2020-04-28',
  '2020-04-28',
  '2020-04-29',
  '2020-04-29',
  '2020-04-30',
  '2020-04-30',
  '2020-05-01',
  '2020-05-01',
  '2020-05-02',
  '2020-05-02',
  '2020-05-03',
  '2020-05-03',
  '2020-05-04',
  '2020-05-04',
  '2020-05-05',
  '2020-05-05',
  '2020-05-06',
  '2020-05-06',
  '2020-05-07',
  '2020-05-07',
  '2020-05-08',
  '2020-05-08',
  '2020-05-09',
  '2020-05-09',
  '2020-05-10',
  '2020-05-10',
  '2020-05-11',
  '2020-05-11',
  '2020-05-12',
  '2020-05-12',
  '2020-05-13',
  '2020-05-13',
  '2020-05-14',
  '2020-05-14',
  '2020-05-15',
  '2020-05-15',
  '2020-05-16',
  '2020-05-16',
  '2020-05-17',
  '2020-05-17',
  '2020-05-18',
  '2020-05-18',
  '2020-05-19',
  '2020-05-19',
  '2020-05-20',
  '2020-05-20',
  '2020-05-21',
  '2020-05-21',
  '2020-05-22',
  '2020-05-22',
  '2020-05-23',
  '2020-05-23',
  '2020-05-24',
  '2020-05-24',
  '2020-05-25',
  '2020-05-25',
  '2020-05-26',
  '2020-05-26',
  '2020-05-27',
  '2020-05-27',
  '2020-05-28',
  '2020-05-28',
  '2020-05-29',
  '2020-05-29',
  '2020-05-30',
  '2020-05-30',
  '2020-05-31',
  '2020-05-31',
  '2020-06-01',
  '2020-06-01',
  '2020-06-02',
  '2020-06-02',
  '2020-06-03',
  '2020-06-03',
  '2020-06-04',
  '2020-06-04',
  '2020-06-05',
  '2020-06-05',
  '2020-06-06',
  '2020-06-06',
  '2020-06-07',
  '2020-06-07',
  '2020-06-08',
  '2020-06-08',
  '2020-06-09',
  '2020-06-09',
  '2020-06-10',
  '2020-06-10',
  '2020-06-11',
  '2020-06-11',
  '2020-06-12',
  '2020-06-12',
  '2020-06-13',
  '2020-06-13',
  '2020-06-14',
  '2020-06-14',
  '2020-06-15',
  '2020-06-15',
  '2020-06-16',
  '2020-06-16',
  '2020-06-17',
  '2020-06-17',
  '2020-06-18',
  '2020-06-18',
  '2020-06-19',
  '2020-06-19',
  '2020-06-20',
  '2020-06-20',
  '2020-06-21',
  '2020-06-21',
  '2020-06-22',
  '2020-06-22',
  '2020-06-23',
  '2020-06-23',
  '2020-06-24',
  '2020-06-24',
  '2020-06-25',
  '2020-06-25',
  '2020-06-26',
  '2020-06-26',
  '2020-06-27',
  '2020-06-27',
  '2020-06-28',
  '2020-06-28',
  '2020-06-29',
  '2020-06-29',
  '2020-06-30',
  '2020-06-30',
  '2020-07-01',
  '2020-07-01',
  '2020-07-02',
  '2020-07-02',
  '2020-07-03',
  '2020-07-03',
  '2020-07-04',
  '2020-07-04',
  '2020-07-05',
  '2020-07-05',
  '2020-07-06',
  '2020-07-06',
  '2020-07-07',
  '2020-07-07',
  '2020-07-08',
  '2020-07-08',
  '2020-07-09',
  '2020-07-09',
  '2020-07-10',
  '2020-07-10',
  '2020-07-11',
  '2020-07-11',
  '2020-07-12',
  '2020-07-12',
  '2020-07-13',
  '2020-07-13',
  '2020-07-14',
  '2020-07-14',
  '2020-07-15',
  '2020-07-15',
  '2020-07-16',
  '2020-07-16',
  '2020-07-17',
  '2020-07-17',
  '2020-07-18',
  '2020-07-18',
  '2020-07-19',
  '2020-07-19',
  '2020-07-20',
  '2020-07-20',
  '2020-07-21',
  '2020-07-21',
  '2020-07-22',
  '2020-07-22',
  '2020-07-23',
  '2020-07-23',
  '2020-07-24',
  '2020-07-24',
  '2020-07-25',
  '2020-07-25',
  '2020-07-26',
  '2020-07-26',
  '2020-07-27',
  '2020-07-27',
  '2020-07-28',
  '2020-07-28',
  '2020-07-29',
  '2020-07-29',
  '2020-07-30',
  '2020-07-30',
  '2020-07-31',
  '2020-07-31',
  '2020-08-01',
  '2020-08-01',
  '2020-08-02',
  '2020-08-02',
  '2020-08-03',
  '2020-08-03',
  '2020-08-04',
  '2020-08-04',
  '2020-08-05',
  '2020-08-05',
  '2020-08-06',
  '2020-08-06',
  '2020-08-07',
  '2020-08-07',
  '2020-08-08',
  '2020-08-08',
  '2020-08-09',
  '2020-08-09',
  '2020-08-10',
  '2020-08-10',
  '2020-08-11',
  '2020-08-11',
  '2020-08-12',
  '2020-08-12',
  '2020-08-13',
  '2020-08-13',
  '2020-08-14',
  '2020-08-14',
  '2020-08-15',
  '2020-08-15',
  '2020-08-16',
  '2020-08-16',
  '2020-08-17',
  '2020-08-17',
  '2020-08-18',
  '2020-08-18',
  '2020-08-19',
  '2020-08-19',
  '2020-08-20',
  '2020-08-20',
  '2020-08-21',
  '2020-08-21',
  '2020-08-22',
  '2020-08-22',
  '2020-08-23',
  '2020-08-23',
  '2020-08-24',
  '2020-08-24',
  '2020-08-25',
  '2020-08-25',
  '2020-08-26',
  '2020-08-26',
  '2020-08-27',
  '2020-08-27',
  '2020-08-28',
  '2020-08-28',
  '2020-08-29',
  '2020-08-29',
  '2020-08-30',
  '2020-08-30',
  '2020-08-31',
  '2020-08-31',
  '2020-09-01',
  '2020-09-01',
  '2020-09-02',
  '2020-09-02',
  '2020-09-03',
  '2020-09-03',
  '2020-09-04',
  '2020-09-04',
  '2020-09-05',
  '2020-09-05',
  '2020-09-06',
  '2020-09-06',
  '2020-09-07',
  '2020-09-07',
  '2020-09-08',
  '2020-09-08',
  '2020-09-09',
  '2020-09-09',
  '2020-09-10',
  '2020-09-10',
  '2020-09-11',
  '2020-09-11',
  '2020-09-12',
  '2020-09-12',
  '2020-09-13',
  '2020-09-13',
  '2020-09-14',
  '2020-09-14',
  '2020-09-15',
  '2020-09-15',
  '2020-09-16',
  '2020-09-16',
  '2020-09-17',
  '2020-09-17',
  '2020-09-18',
  '2020-09-18',
  '2020-09-19',
  '2020-09-19',
  '2020-09-20',
  '2020-09-20',
  '2020-09-21',
  '2020-09-21',
  '2020-09-22',
  '2020-09-22',
  '2020-09-23',
  '2020-09-23',
  '2020-09-24',
  '2020-09-24',
  '2020-09-25',
  '2020-09-25',
  '2020-09-26',
  '2020-09-26',
  '2020-09-27',
  '2020-09-27',
  '2020-09-28',
  '2020-09-28',
  '2020-09-29',
  '2020-09-29',
  '2020-09-30',
  '2020-09-30'),
 'incoming': ('1',
  '9',
  '9',
  '0',
  '7',
  '13',
  '4',
  '12',
  '4',
  '8',
  '6',
  '12',
  '3',
  '11',
  '5',
  '14',
  '2',
  '9',
  '1',
  '8',
  '1',
  '10',
  '2',
  '5',
  '4',
  '11',
  '0',
  '9',
  '1',
  '11',
  '0',
  '11',
  '1',
  '4',
  '2',
  '5',
  '5',
  '5',
  '0',
  '9',
  '2',
  '8',
  '1',
  '14',
  '1',
  '5',
  '0',
  '2',
  '0',
  '2',
  '1',
  '2',
  '1',
  '1',
  '0',
  '3',
  '0',
  '5',
  '0',
  '3',
  '0',
  '2',
  '2',
  '6',
  '2',
  '5',
  '1',
  '2',
  '0',
  '3',
  '1',
  '5',
  '1',
  '3',
  '3',
  '5',
  '0',
  '6',
  '0',
  '5',
  '0',
  '7',
  '1',
  '8',
  '0',
  '5',
  '1',
  '7',
  '1',
  '2',
  '1',
  '4',
  '2',
  '7',
  '0',
  '8',
  '2',
  '3',
  '2',
  '4',
  '3',
  '9',
  '2',
  '9',
  '0',
  '5',
  '3',
  '2',
  '3',
  '9',
  '2',
  '7',
  '2',
  '12',
  '1',
  '2',
  '2',
  '10',
  '4',
  '6',
  '3',
  '7',
  '2',
  '9',
  '5',
  '17',
  '0',
  '10',
  '1',
  '9',
  '3',
  '7',
  '0',
  '7',
  '0',
  '9',
  '2',
  '13',
  '1',
  '6',
  '1',
  '14',
  '2',
  '8',
  '1',
  '10',
  '1',
  '6',
  '0',
  '5',
  '2',
  '7',
  '2',
  '8',
  '1',
  '12',
  '1',
  '13',
  '1',
  '10',
  '0',
  '1',
  '0',
  '1',
  '2',
  '2',
  '5',
  '3',
  '1',
  '9',
  '2',
  '1',
  '0',
  '4',
  '1',
  '5',
  '1',
  '5',
  '0',
  '5',
  '2',
  '1',
  '1',
  '6',
  '2',
  '2',
  '2',
  '8',
  '2',
  '2',
  '0',
  '3',
  '1',
  '1',
  '2',
  '7',
  '0',
  '2',
  '2',
  '3',
  '1',
  '7',
  '2',
  '2',
  '1',
  '1',
  '3',
  '1',
  '1',
  '0',
  '1',
  '0',
  '2',
  '0',
  '3',
  '0',
  '2',
  '0',
  '4',
  '0',
  '4',
  '8',
  '3',
  '15',
  '4',
  '15',
  '3',
  '11',
  '3',
  '9',
  '1',
  '9',
  '2',
  '10',
  '1',
  '9',
  '4',
  '16',
  '1',
  '6',
  '1',
  '11',
  '0',
  '7',
  '2',
  '9',
  '0',
  '3',
  '0',
  '7',
  '0',
  '4',
  '0',
  '6',
  '0',
  '10',
  '2',
  '8',
  '2',
  '4',
  '2',
  '10',
  '3',
  '12',
  '5',
  '7',
  '11',
  '6',
  '11',
  '6',
  '9',
  '6',
  '7',
  '11',
  '5',
  '8',
  '7',
  '11',
  '5',
  '12',
  '7',
  '10',
  '8',
  '7',
  '5',
  '6',
  '5',
  '9',
  '7',
  '18',
  '10',
  '8',
  '3',
  '14',
  '10',
  '21',
  '11',
  '11',
  '11',
  '8',
  '6',
  '10',
  '12',
  '4',
  '3',
  '16',
  '5',
  '16',
  '4',
  '9',
  '1',
  '19',
  '6',
  '18',
  '4',
  '13',
  '2',
  '12',
  '8',
  '19',
  '4',
  '15',
  '8',
  '25',
  '7',
  '11',
  '5',
  '15',
  '7',
  '16',
  '5',
  '11',
  '2',
  '16',
  '6',
  '19',
  '5',
  '21',
  '5',
  '27',
  '2',
  '21',
  '1',
  '7',
  '2',
  '11',
  '2',
  '14',
  '3',
  '13',
  '6',
  '5',
  '2',
  '5',
  '2',
  '11',
  '3',
  '10',
  '4',
  '6',
  '2',
  '11',
  '4',
  '4',
  '7',
  '8',
  '5',
  '11',
  '4',
  '5',
  '4',
  '8',
  '6',
  '5',
  '4',
  '7',
  '5',
  '8',
  '5',
  '6',
  '4',
  '7',
  '2',
  '4',
  '5',
  '5',
  '3',
  '2',
  '1',
  '5',
  '6',
  '6',
  '3',
  '8',
  '4',
  '4',
  '1',
  '5',
  '2',
  '4',
  '2',
  '9',
  '8',
  '7',
  '3',
  '6',
  '1',
  '11',
  '1',
  '3',
  '1',
  '5',
  '1',
  '5',
  '3',
  '1',
  '1',
  '7',
  '2',
  '3',
  '3',
  '4',
  '1',
  '9',
  '2',
  '4',
  '4',
  '4',
  '0',
  '5',
  '6',
  '1',
  '4',
  '4',
  '1',
  '4',
  '5',
  '4',
  '3',
  '6',
  '2',
  '2',
  '3',
  '4',
  '3',
  '6',
  '2',
  '4',
  '0',
  '3',
  '4',
  '6',
  '7',
  '1',
  '1',
  '1',
  '2',
  '4',
  '4',
  '9',
  '5',
  '4',
  '4',
  '9',
  '3',
  '11',
  '2',
  '1',
  '5',
  '2',
  '5',
  '7',
  '2',
  '4',
  '3',
  '6',
  '5',
  '8',
  '2',
  '8',
  '2',
  '3',
  '3',
  '2',
  '3',
  '2',
  '3',
  '5',
  '5',
  '6',
  '1',
  '1',
  '0',
  '3',
  '0',
  '6',
  '0',
  '3',
  '0',
  '1',
  '1',
  '5',
  '1',
  '3',
  '0',
  '5',
  '0',
  '4',
  '1',
  '2',
  '0',
  '0',
  '1',
  '2',
  '0',
  '3',
  '1',
  '3',
  '0',
  '2',
  '2',
  '1',
  '1',
  '6',
  '1',
  '4',
  '1',
  '5',
  '2',
  '4',
  '1',
  '1',

In [33]:
writer=pd.ExcelWriter("E:\\test----1\\test-excel.xlsx")

In [36]:
re.to_excel(writer,"Sheet2")

In [37]:
writer.save

# 缺失值处理

In [43]:
string_data=pd.Series(["bob","for","will",np.nan,"bom"])

In [44]:
string_data

0     bob
1     for
2    will
3     NaN
4     bom
dtype: object

In [45]:
string_data.isnull()

0    False
1    False
2    False
3     True
4    False
dtype: bool

In [48]:
string_data.dropna()

0     bob
1     for
2    will
4     bom
dtype: object

In [49]:
from numpy import nan as NA

In [82]:
data=pd.DataFrame([[1,6,5.0,0],[NA,NA,NA,NA],[NA,2,NA,2],[NA,1,1,1]])

In [83]:
data

     0    1    2    3
0  1.0  6.0  5.0  0.0
1  NaN  NaN  NaN  NaN
2  NaN  2.0  NaN  2.0
3  NaN  1.0  1.0  1.0

In [84]:
data.dropna(axis=1,how="all")

     0    1    2    3
0  1.0  6.0  5.0  0.0
1  NaN  NaN  NaN  NaN
2  NaN  2.0  NaN  2.0
3  NaN  1.0  1.0  1.0

In [85]:
data.dropna(axis=0,how="all")

     0    1    2    3
0  1.0  6.0  5.0  0.0
2  NaN  2.0  NaN  2.0
3  NaN  1.0  1.0  1.0

In [86]:
data.dropna()

     0    1    2    3
0  1.0  6.0  5.0  0.0

In [87]:


data[0]

0    1.0
1    NaN
2    NaN
3    NaN
Name: 0, dtype: float64

In [88]:
data[0][0]

1.0

In [89]:
data[0][0]=NA

In [90]:
data

    0    1    2    3
0 NaN  6.0  5.0  0.0
1 NaN  NaN  NaN  NaN
2 NaN  2.0  NaN  2.0
3 NaN  1.0  1.0  1.0

In [80]:
data.dropna(axis=1,how="all")

          0         1         2
0       NaN       NaN       NaN
1 -2.487290       NaN       NaN
2 -0.562178       NaN  0.341122
3 -0.732646       NaN -1.234197
4  1.981075  0.029224 -2.383995
5  0.662125  0.002261 -0.735335
6 -0.187195 -0.286684  0.719235

In [95]:
data=pd.DataFrame(np.random.randn(7,3))
data

          0         1         2
0 -0.594909 -1.387919  0.292436
1  0.092473 -1.333147 -0.124412
2 -0.041716  0.351363  0.106939
3  0.589012  0.145065 -0.300955
4 -0.443717 -1.858592  0.675088
5  0.375844  0.221528 -0.508246
6 -1.783205  1.062896 -0.809668

In [96]:
data.iloc[:4,1]=NA
data.iloc[:2,2]=NA
data

          0         1         2
0 -0.594909       NaN       NaN
1  0.092473       NaN       NaN
2 -0.041716       NaN  0.106939
3  0.589012       NaN -0.300955
4 -0.443717 -1.858592  0.675088
5  0.375844  0.221528 -0.508246
6 -1.783205  1.062896 -0.809668

In [68]:
data.dropna()

          0         1         2
4  1.981075  0.029224 -2.383995
5  0.662125  0.002261 -0.735335
6 -0.187195 -0.286684  0.719235

In [69]:
data.dropna(thresh=1)

          0         1         2
0  0.160339       NaN       NaN
1 -2.487290       NaN       NaN
2 -0.562178       NaN  0.341122
3 -0.732646       NaN -1.234197
4  1.981075  0.029224 -2.383995
5  0.662125  0.002261 -0.735335
6 -0.187195 -0.286684  0.719235

In [70]:
data.dropna(thresh=2)

          0         1         2
2 -0.562178       NaN  0.341122
3 -0.732646       NaN -1.234197
4  1.981075  0.029224 -2.383995
5  0.662125  0.002261 -0.735335
6 -0.187195 -0.286684  0.719235

In [71]:
data.dropna(thresh=3)

          0         1         2
4  1.981075  0.029224 -2.383995
5  0.662125  0.002261 -0.735335
6 -0.187195 -0.286684  0.719235

In [72]:
data.dropna(thresh=0)

          0         1         2
0  0.160339       NaN       NaN
1 -2.487290       NaN       NaN
2 -0.562178       NaN  0.341122
3 -0.732646       NaN -1.234197
4  1.981075  0.029224 -2.383995
5  0.662125  0.002261 -0.735335
6 -0.187195 -0.286684  0.719235

In [73]:
data.dropna(thresh=6)

Empty DataFrame
Columns: [0, 1, 2]
Index: []

In [74]:
data.dropna(thresh=5)

Empty DataFrame
Columns: [0, 1, 2]
Index: []

In [75]:
data.dropna(thresh=4)

Empty DataFrame
Columns: [0, 1, 2]
Index: []


#  补全缺失值

In [76]:
data.fillna(0)

          0         1         2
0  0.160339  0.000000  0.000000
1 -2.487290  0.000000  0.000000
2 -0.562178  0.000000  0.341122
3 -0.732646  0.000000 -1.234197
4  1.981075  0.029224 -2.383995
5  0.662125  0.002261 -0.735335
6 -0.187195 -0.286684  0.719235

In [77]:
data.fillna({1:0.5,2:0})

          0         1         2
0  0.160339  0.500000  0.000000
1 -2.487290  0.500000  0.000000
2 -0.562178  0.500000  0.341122
3 -0.732646  0.500000 -1.234197
4  1.981075  0.029224 -2.383995
5  0.662125  0.002261 -0.735335
6 -0.187195 -0.286684  0.719235

In [78]:
data

          0         1         2
0  0.160339       NaN       NaN
1 -2.487290       NaN       NaN
2 -0.562178       NaN  0.341122
3 -0.732646       NaN -1.234197
4  1.981075  0.029224 -2.383995
5  0.662125  0.002261 -0.735335
6 -0.187195 -0.286684  0.719235

In [106]:
re2=data.fillna(0,inplace=False)

In [107]:
data

          0         1         2
0 -0.594909  0.000000  0.000000
1  0.092473  0.000000  0.000000
2 -0.041716  0.000000  0.106939
3  0.589012  0.000000 -0.300955
4 -0.443717 -1.858592  0.675088
5  0.375844  0.221528 -0.508246
6 -1.783205  1.062896 -0.809668

In [110]:
data2=pd.DataFrame(np.random.randn(6,3))
data2

          0         1         2
0 -1.964455 -0.627648  2.020153
1 -1.150176 -0.386240 -0.104908
2  0.734455 -2.100477  0.884661
3  0.104226  1.367679 -1.370416
4  0.225126  0.095527 -1.958339
5  0.877684  1.458906  0.838344

In [114]:
data2.iloc[2:,1]=NA
data2.iloc[4:,2]=NA
data2

          0         1         2
0 -1.964455 -0.627648  2.020153
1 -1.150176 -0.386240 -0.104908
2  0.734455       NaN  0.884661
3  0.104226       NaN -1.370416
4  0.225126       NaN       NaN
5  0.877684       NaN       NaN

In [115]:
data2.fillna(method="ffill")

          0         1         2
0 -1.964455 -0.627648  2.020153
1 -1.150176 -0.386240 -0.104908
2  0.734455 -0.386240  0.884661
3  0.104226 -0.386240 -1.370416
4  0.225126 -0.386240 -1.370416
5  0.877684 -0.386240 -1.370416

In [116]:
data2.fillna(method="ffill",limit=2)

          0         1         2
0 -1.964455 -0.627648  2.020153
1 -1.150176 -0.386240 -0.104908
2  0.734455 -0.386240  0.884661
3  0.104226 -0.386240 -1.370416
4  0.225126       NaN -1.370416
5  0.877684       NaN -1.370416

In [117]:
data2.dropna()

          0         1         2
0 -1.964455 -0.627648  2.020153
1 -1.150176 -0.386240 -0.104908

In [118]:
data2

          0         1         2
0 -1.964455 -0.627648  2.020153
1 -1.150176 -0.386240 -0.104908
2  0.734455       NaN  0.884661
3  0.104226       NaN -1.370416
4  0.225126       NaN       NaN
5  0.877684       NaN       NaN