In [6]:
val='z,d, guido'

In [7]:
val.split(",")

['z', 'd', ' guido']

In [8]:
pieces=[x.strip() for x in val.split(",")] # split常和strip一起使用，用于清除空格（包括换行）：
pieces

['z', 'd', 'guido']

In [9]:
"::".join(pieces)

'z::d::guido'

In [10]:
"z" in val

True

In [12]:
val.index(",")

1

In [13]:
val.count(",")

2

In [14]:
val.capitalize()

'Z,d, guido'

In [19]:
val.center(1)

'z,d, guido'

In [20]:
val.replace(",",":::")

'z:::d::: guido'

# 联合索引

In [36]:
import pandas as pd
df1=pd.DataFrame({"key":['a','d','d','b','a','c','d'],"data":range(7)})
df2=pd.DataFrame({"key":['a','d','b'],"data":range(3)})             
print(df1,df2)

  key  data
0   a     0
1   d     1
2   d     2
3   b     3
4   a     4
5   c     5
6   d     6   key  data
0   a     0
1   d     1
2   b     2

In [37]:
df1.merge(df2) # 并没有指定在哪一列上进行连接。如果连接的键信息没有指定，merge会自动将重叠列名作为连接的键

  key  data
0   a     0
1   d     1

In [38]:
pd.merge(df1,df2,on="key")

  key  data_x  data_y
0   a       0       0
1   a       4       0
2   d       1       1
3   d       2       1
4   d       6       1
5   b       3       2

In [39]:
df3=pd.DataFrame({"key1":['a','d','d','b','a','c','d'],"data1":range(7)})
df4=pd.DataFrame({"key2":['a','d','b'],"data2":range(3)})   
print(df3,df4)

  key1  data1
0    a      0
1    d      1
2    d      2
3    b      3
4    a      4
5    c      5
6    d      6   key2  data2
0    a      0
1    d      1
2    b      2

In [40]:
pd.merge(df3,df4,right_on="key2",left_on="key1")

  key1  data1 key2  data2
0    a      0    a      0
1    a      4    a      0
2    d      1    d      1
3    d      2    d      1
4    d      6    d      1
5    b      3    b      2

In [41]:
pd.merge(df1,df2,how="outer")  # 默认情况下，merge做的是内连接（’inner’join），结果中的键是两张表的交集。其他可选的选项有’left’、’right’和’outer’。外连接（outer join）是键的并集，联合了左连接和右连接的效果

  key  data
0   a     0
1   d     1
2   d     2
3   b     3
4   a     4
5   c     5
6   d     6
7   b     2

In [42]:
df5=pd.DataFrame({"key":['a','d','d','b','a','c'],"data1":range(6)})
df6=pd.DataFrame({"group_val":[3.5,7]},index=['a','d'])

In [43]:
pd.merge(df5,df6,left_on="key",right_index=True,how="outer")

  key  data1  group_val
0   a      0        3.5
4   a      4        3.5
1   d      1        7.0
2   d      2        7.0
3   b      3        NaN
5   c      5        NaN

In [44]:
import numpy as np
arr=np.arange(12).reshape((3,4))
arr

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [45]:
np.concatenate([arr,arr],axis=1)

array([[ 0,  1,  2,  3,  0,  1,  2,  3],
       [ 4,  5,  6,  7,  4,  5,  6,  7],
       [ 8,  9, 10, 11,  8,  9, 10, 11]])

In [46]:
np.concatenate([arr,arr],axis=0)

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [48]:
pd.concat([df1,df2])

  key  data
0   a     0
1   d     1
2   d     2
3   b     3
4   a     4
5   c     5
6   d     6
0   a     0
1   d     1
2   b     2

In [52]:
pd.concat([df1,df2],axis=1,join="inner")

  key  data key  data
0   a     0   a     0
1   d     1   d     1
2   d     2   b     2