# pandas中的Categorical类型
 ![image.png](attachment:image.png)

In [4]:
from datetime import datetime
import pandas as pd
import numpy as np

In [5]:
now=datetime.now()
now

datetime.datetime(2021, 1, 5, 11, 40, 40, 348826)

In [6]:
index=pd.date_range("2020-01-04","2020-03-04")
index

DatetimeIndex(['2020-01-04', '2020-01-05', '2020-01-06', '2020-01-07',
               '2020-01-08', '2020-01-09', '2020-01-10', '2020-01-11',
               '2020-01-12', '2020-01-13', '2020-01-14', '2020-01-15',
               '2020-01-16', '2020-01-17', '2020-01-18', '2020-01-19',
               '2020-01-20', '2020-01-21', '2020-01-22', '2020-01-23',
               '2020-01-24', '2020-01-25', '2020-01-26', '2020-01-27',
               '2020-01-28', '2020-01-29', '2020-01-30', '2020-01-31',
               '2020-02-01', '2020-02-02', '2020-02-03', '2020-02-04',
               '2020-02-05', '2020-02-06', '2020-02-07', '2020-02-08',
               '2020-02-09', '2020-02-10', '2020-02-11', '2020-02-12',
               '2020-02-13', '2020-02-14', '2020-02-15', '2020-02-16',
               '2020-02-17', '2020-02-18', '2020-02-19', '2020-02-20',
               '2020-02-21', '2020-02-22', '2020-02-23', '2020-02-24',
               '2020-02-25', '2020-02-26', '2020-02-27', '2020-02-28',
               '2020-02-29', '2020-03-01', '2020-03-02', '2020-03-03',
               '2020-03-04'],
              dtype='datetime64[ns]', freq='D')

In [7]:
index1=pd.date_range(datetime.now(),periods=5)
index1

DatetimeIndex(['2021-01-05 11:44:58.798195', '2021-01-06 11:44:58.798195',
               '2021-01-07 11:44:58.798195', '2021-01-08 11:44:58.798195',
               '2021-01-09 11:44:58.798195'],
              dtype='datetime64[ns]', freq='D')

In [8]:
index2=pd.date_range(datetime.now(),periods=5,normalize=True)
index2

DatetimeIndex(['2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09'],
              dtype='datetime64[ns]', freq='D')

In [9]:
index3=pd.date_range(datetime.now(),periods=5,freq="4h")
index3

DatetimeIndex(['2021-01-05 11:48:21.589919', '2021-01-05 15:48:21.589919',
               '2021-01-05 19:48:21.589919', '2021-01-05 23:48:21.589919',
               '2021-01-06 03:48:21.589919'],
              dtype='datetime64[ns]', freq='4H')

In [12]:
index4=pd.date_range(datetime.now(),periods=5,freq="WOM-3FRI")
list(index4)

[Timestamp('2021-01-15 11:50:07.468422', freq='WOM-3FRI'),
 Timestamp('2021-02-19 11:50:07.468422', freq='WOM-3FRI'),
 Timestamp('2021-03-19 11:50:07.468422', freq='WOM-3FRI'),
 Timestamp('2021-04-16 11:50:07.468422', freq='WOM-3FRI'),
 Timestamp('2021-05-21 11:50:07.468422', freq='WOM-3FRI')]

In [15]:
data1=pd.Series(np.random.randint(1,10)).shift(2,freq="M")

SyntaxError: unexpected EOF while parsing (<ipython-input-15-b8b840e1b26e>, line 1)

In [21]:
from pandas.tseries.offsets import Hour,Day,MonthEnd
now=datetime(2020,1,1)

In [22]:
now+3*Day()+Hour()*3

Timestamp('2020-01-04 03:00:00')

In [23]:
now+MonthEnd()

Timestamp('2020-01-31 00:00:00')

In [25]:
offset=MonthEnd()
offset.rollforward(now)    #使用rollforward和rollback分别显式地将日期向前或向后”滚动”：

Timestamp('2020-01-31 00:00:00')

# 重新采样与频率转换

In [30]:
rng=pd.date_range("2001-01-01",periods=100,freq="D")
ts=pd.Series(np.random.randn(len(rng)),index=rng)
ts

2001-01-01    0.771951
2001-01-02    0.876320
2001-01-03    0.016065
2001-01-04    1.394441
2001-01-05    1.052642
                ...
2001-04-06    0.757327
2001-04-07   -1.671389
2001-04-08   -0.946401
2001-04-09   -0.708482
2001-04-10   -0.078250
Freq: D, Length: 100, dtype: float64

In [31]:
ts.resample("M").mean()

2001-01-31    0.084640
2001-02-28   -0.293207
2001-03-31   -0.035704
2001-04-30   -0.425048
Freq: M, dtype: float64

# ![image.png](attachment:image.png)

In [32]:
 ts.resample("M",kind="period").mean()

2001-01    0.084640
2001-02   -0.293207
2001-03   -0.035704
2001-04   -0.425048
Freq: M, dtype: float64

In [33]:
rng1=pd.date_range("2001-01-01",periods=12,freq="D")
ts1=pd.Series(np.random.randn(len(rng1)),index=rng1)
ts1

2001-01-01    1.327522
2001-01-02    0.613948
2001-01-03    1.307044
2001-01-04    0.136631
2001-01-05    0.569904
2001-01-06    0.896878
2001-01-07   -0.303832
2001-01-08    0.166840
2001-01-09    1.632911
2001-01-10   -0.581063
2001-01-11    1.189133
2001-01-12   -1.883974
Freq: D, dtype: float64

In [36]:
rng2=pd.date_range("2001-01-01",periods=12,freq="T")
ts2=pd.Series(np.arange(12),index=rng2)
ts2

2001-01-01 00:00:00     0
2001-01-01 00:01:00     1
2001-01-01 00:02:00     2
2001-01-01 00:03:00     3
2001-01-01 00:04:00     4
2001-01-01 00:05:00     5
2001-01-01 00:06:00     6
2001-01-01 00:07:00     7
2001-01-01 00:08:00     8
2001-01-01 00:09:00     9
2001-01-01 00:10:00    10
2001-01-01 00:11:00    11
Freq: T, dtype: int32

In [37]:
ts2.resample("5min",closed='right').sum()

2000-12-31 23:55:00     0
2001-01-01 00:00:00    15
2001-01-01 00:05:00    40
2001-01-01 00:10:00    11
Freq: 5T, dtype: int32

In [38]:
ts2.resample("5min",closed='right',label="left").sum()

2000-12-31 23:55:00     0
2001-01-01 00:00:00    15
2001-01-01 00:05:00    40
2001-01-01 00:10:00    11
Freq: 5T, dtype: int32

In [39]:
ts2.resample("5min",closed='right',label="right").sum()

2001-01-01 00:00:00     0
2001-01-01 00:05:00    15
2001-01-01 00:10:00    40
2001-01-01 00:15:00    11
Freq: 5T, dtype: int32

In [41]:
ts2.resample("5min",closed='right',label="right",loffset="-1s").sum()

2000-12-31 23:59:59     0
2001-01-01 00:04:59    15
2001-01-01 00:09:59    40
2001-01-01 00:14:59    11
Freq: 5T, dtype: int32

In [43]:
frame=ts2.resample("5min").ohlc()
frame

                     open  high  low  close
2001-01-01 00:00:00     0     4    0      4
2001-01-01 00:05:00     5     9    5      9
2001-01-01 00:10:00    10    11   10     11

In [46]:
df_daily=frame.resample("1min").asfreq()
df_daily

                     open  high   low  close
2001-01-01 00:00:00   0.0   4.0   0.0    4.0
2001-01-01 00:01:00   NaN   NaN   NaN    NaN
2001-01-01 00:02:00   NaN   NaN   NaN    NaN
2001-01-01 00:03:00   NaN   NaN   NaN    NaN
2001-01-01 00:04:00   NaN   NaN   NaN    NaN
2001-01-01 00:05:00   5.0   9.0   5.0    9.0
2001-01-01 00:06:00   NaN   NaN   NaN    NaN
2001-01-01 00:07:00   NaN   NaN   NaN    NaN
2001-01-01 00:08:00   NaN   NaN   NaN    NaN
2001-01-01 00:09:00   NaN   NaN   NaN    NaN
2001-01-01 00:10:00  10.0  11.0  10.0   11.0

In [48]:
frame.resample("1min").ffill(limit=2)

                     open  high   low  close
2001-01-01 00:00:00   0.0   4.0   0.0    4.0
2001-01-01 00:01:00   0.0   4.0   0.0    4.0
2001-01-01 00:02:00   0.0   4.0   0.0    4.0
2001-01-01 00:03:00   NaN   NaN   NaN    NaN
2001-01-01 00:04:00   NaN   NaN   NaN    NaN
2001-01-01 00:05:00   5.0   9.0   5.0    9.0
2001-01-01 00:06:00   5.0   9.0   5.0    9.0
2001-01-01 00:07:00   5.0   9.0   5.0    9.0
2001-01-01 00:08:00   NaN   NaN   NaN    NaN
2001-01-01 00:09:00   NaN   NaN   NaN    NaN
2001-01-01 00:10:00  10.0  11.0  10.0   11.0